#-------------------#
<homogenization>
#-------------------#

[direct]
mech	none

thermal                 adiabatic
t0                      330.0
(output)                temperature

#-------------------#
<phase>
#-------------------#

#.................
[isotropic matrix]

lattice_structure iso
plasticity	none
{config/elastic_isotropic.config}
{config/thermal.config}

(output)                f
(output)                p
(output)                fe
(output)                fi
(output)                fp

#.................
[Ti matrix]

lattice_structure   hex
c/a        1.587
plasticity	        none
{config/elastic_Ti.config}
{config/thermal.config}

(output)                f
(output)                p
(output)                fe
(output)                fi
(output)                fp

#.................
[isotropic inclusion]

lattice_structure   iso
plasticity	none
{config/elastic_isotropic.config}
{config/thermal.config}
{config/thermalExpansion_isotropic.config}

(output)                f
(output)                p
(output)                fe
(output)                fi
(output)                fp

#.................
[anisotropic inclusion]

lattice_structure   orthorhombic
plasticity	none
{config/elastic_fullyAnisotropic.config}
{config/thermal.config}
{config/thermalExpansion_fullyAnisotropic.config}

(output)                f
(output)                p
(output)                fe
(output)                fi
(output)                fp

#.................
[Ti inclusion]

lattice_structure   hex
c/a		        1.587
plasticity	        none
{config/elastic_Ti.config}
{config/thermal.config}
{config/thermalExpansion_Ti.config}

(output)                f
(output)                p
(output)                fe
(output)                fi
(output)                fp

#--------------------------#
<microstructure>
#--------------------------#

[isotropic matrix]
(constituent)	phase 1	texture 1	fraction 1.0

[Ti matrix]
(constituent)	phase 2	texture 1	fraction 1.0

[isotropic inclusion]
(constituent)	phase 3	texture 1	fraction 1.0

[anisotropic inclusion]
(constituent)	phase 4	texture 1	fraction 1.0

[rotated inclusion]
(constituent)	phase 4	texture 2	fraction 1.0

[Ti inclusion]
(constituent)	phase 5	texture 1	fraction 1.0

#--------------------------#
<texture>
#--------------------------#

[cube]
(gauss)	phi1	0.0	Phi	0.0	phi2	0.0

[rotated]
(gauss)	phi1	0.0	Phi	45.0	phi2	0.0

