#-------------------#
<homogenization>
#-------------------#

[direct]
type	none                               # isostrain 1 grain

thermal                 adiabatic        # thermal strain (stress) induced mass transport
initialT                300.0
(output)                temperature

#-------------------#
<crystallite>
#-------------------#

[aLittleSomething]

(output)                texture
(output)                f
(output)                p
(output)                fe
(output)                fi
(output)                fp

#-------------------#
<phase>
#-------------------#

#.................
[isotropic matrix]

lattice_structure isotropic
plasticity	none
{config/elastic_isotropic.config}
{config/thermal.config}

#.................
[Ti matrix]

lattice_structure   hex
covera_ratio        1.587
plasticity	        none
{config/elastic_Ti.config}
{config/thermal.config}

#.................
[isotropic inclusion]

lattice_structure   isotropic
plasticity	none
{config/elastic_isotropic.config}
{config/thermal.config}
{config/thermalExpansion_isotropic.config}

#.................
[anisotropic inclusion]

lattice_structure   orthorhombic
plasticity	none
{config/elastic_fullyAnisotropic.config}
{config/thermal.config}
{config/thermalExpansion_fullyAnisotropic.config}

#.................
[Ti inclusion]

lattice_structure   hex
covera_ratio        1.587
plasticity	        none
{config/elastic_Ti.config}
{config/thermal.config}
{config/thermalExpansion_Ti.config}

#--------------------------#
<microstructure>
#--------------------------#

[isotropic matrix]
crystallite 1
(constituent)	phase 1	texture 1	fraction 1.0

[Ti matrix]
crystallite 1
(constituent)	phase 2	texture 1	fraction 1.0

[isotropic inclusion]
crystallite 1
(constituent)	phase 3	texture 1	fraction 1.0

[anisotropic inclusion]
crystallite 1
(constituent)	phase 4	texture 1	fraction 1.0

[rotated inclusion]
crystallite 1
(constituent)	phase 4	texture 2	fraction 1.0

[Ti inclusion]
crystallite 1
(constituent)	phase 5	texture 1	fraction 1.0

#--------------------------#
<texture>
#--------------------------#

[cube]
(gauss)	phi1	0.0	Phi	0.0	phi2	0.0	scatter	0.0	fraction	1.0

[rotated]
(gauss)	phi1	0.0	Phi	45.0	phi2	0.0	scatter	0.0	fraction	1.0

