(kinematics)            thermal_expansion
thermal_expansion11      5e-6
thermal_expansion22     10e-6
thermal_expansion33     20e-6
lattice_structure       orthorhombic

(source)                thermal_externalheat
externalheat_time       0 500 500.001 1000        # 500 secs supplying 1 Watt, then removing 1 Watt
externalheat_rate       1 1 -1 -1
