<homogenization>

[Taylor]
type	Taylor
Ngrains	1

<microstructure>

[j2]
(constituent)	phase 1	texture 1	fraction 1.0

[grain2]
(constituent)	phase 2	texture 2	fraction 1.0

[grain5]
(constituent)	phase 2	texture 3	fraction 1.0

[grain4]
(constituent)	phase 2	texture 4	fraction 1.0

[grain1]
(constituent)	phase 2	texture 5	fraction 1.0

[grain6]
(constituent)	phase 2	texture 6	fraction 1.0

[grain3]
(constituent)	phase 2	texture 7	fraction 1.0

<phase>

[phase1]
constitution		j2
(output)		flowstress
c11			110.9e9
c12			58.34e9
taylorfactor		3
s0			31e6
gdot0			0.001
n			20
h0			75e6
s_sat			63e6
w0			2.25

[phase2]
constitution		phenomenological
(output)		slipResistance
(output)		rateofshear
lattice_structure	fcc
Nslip			12
c11			106.75e9
c12			60.41e9
c44			28.34e9
s0_slip			31e6
gdot0_slip		0.001
n_slip			20
h0			75e6
s_sat			63e6
w0			2.25
# Self and latent hardening coefficients
hardening_coefficients		1.0 1.4

<texture>

[random]

[grain 2]
(gauss)	phi1 0.687549	Phi 44.518821	phi2 33.288848	scatter 0.0	fraction 1.0

[grain 5]
(gauss)	phi1 268.946389	Phi 21.772396	phi2 71.390541	scatter 0.0	fraction 1.0

[grain 4]
(gauss)	phi1 109.434939	Phi 41.654032	phi2 280.290953	scatter 0.0	fraction 1.0

[grain 1]
(gauss)	phi1 51.566202	Phi 46.581469	phi2 288.713433	scatter 0.0	fraction 1.0

[grain 6]
(gauss)	phi1 189.820918	Phi 37.356848	phi2 177.788804	scatter 0.0	fraction 1.0

[grain 3]
(gauss)	phi1 233.365710	Phi 40.278933	phi2 170.913310	scatter 0.0	fraction 1.0

