Aadhithyan Kannan <aadhi.kannan@kuleuven.be>           <aadhi@landau.dyn.cs.kuleuven.be>
Abisheik Panneerselvam <a.panneerselvam@mpie.de>       <a.panneerselvam@maws04.mpie.de>
Alankar Alankar                                        <a.alankar@mpie.de>
Amrit Jena <a.jena@mpie.de>                            <a.jena@maws01.mpie.de>
Aritra Chakraborty <chakra34@egr.msu.edu>              <chakra34@egr.msu.edu>
Brendan Vande Kieft <vandeki4@msu.edu>                 <vandeki4@msu.edu>
Brendan Vande Kieft <vandeki4@msu.edu>                 <bvande@localhost.localdomain>
Brendan Vande Kieft <vandeki4@msu.edu>                 <vandeki4@msu.edu>
Bret Dunlap                                            <dunlapb2@egr.msu.edu>
Cathy Bing                                             <zhangrux@msu.edu>
Cathy Bing <zhangrux@msu.edu>                          <sfzrx@mail.ustc.edu.cn>
Chen Zhang                                             <zhangc43@egr.msu.edu>
Chen Zhang <zhangc43@egr.msu.edu>                      <chenzhang8722@gamil.com>
Chen Zhang <zhangc43@egr.msu.edu>                      <zhangc43@baron.egr.msu.edu>
Christoph Kords                                        <c.kords@mpie.de>
Chuanlai Liu                                           <c.liu@mpie.de>
Claudio Zambaldi                                       <c.zambaldi@mpie.de>
Daniel Otto de Mentock                                 <d.mentock@mpie.de>
Daniel Otto de Mentock <d.mentock@mpie.de>             <daniel.mentock@cellgrid.co>
Daniel Otto de Mentock <d.mentock@mpie.de>             <daniel.mentock@mpie.de>
Daniel Otto de Mentock <d.mentock@mpie.de>             <d.mentock@matesting.mpie.de>
Daniel Otto de Mentock <d.mentock@mpie.de>             <d.mentock@maws01.mpie.de>
David Cereceda Senas                                   <david.cereceda@jhu.edu>
David Mercier                                          <d.mercier@mpie.de>
Denny Tjahjanto                                        <dennyt@kth.se>
Ding Wang                                              <d.wang@mpie.de>
Duancheng Ma                                           <d.ma@mpie.de>
Eralp Demir                                            <e.demir@mpie.de>
Eureka Pai Kulyadi                                     <paikuly1@msu.edu>
Eureka Pai Kulyadi <paikuly1@msu.edu>                  <paikuly1@egr.msu.edu>
Francisco Jose Gallardo Basile <f.gallardo@mpie.de>    <f.basile@mpie.de>
Franz Roters                                           <f.roters@mpie.de>
Haiming Zhang                                          <hm.zhang@sjtu.edu.cn>
Harsha Phukan                                          <phykanha@egr.msu.edu>
Henry Hutasoit                                         <h.hutasoit@mpie.de>
Hongmei Li                                             <li.h@mpie.de>
Jaber Mianroodi                                        <jaber.rezaeimianroodi@rwth-aachen.de>
Jaeyong Jung <j.jung@mpie.de>                          <jaeyong.jung@rwth-aachen.de>
Javier Velo <javier.velo@kuleuven.be>                  <986-j.velo@users.noreply.git.damask.mpie.de>
Javier Velo <javier.velo@kuleuven.be>                  <986-j.velo@users.noreply.git.damask-multiphysics.org>
Karo Sedighiani                                        <k.sedighiani@mpie.de>
Krishna Komerla                                        <k.komerla@mpie.de>
Leyun Wang                                             <wly857@gmail.com>
Luc Hantcherli                                         <l.hantcherli@mpie.de>
Luv Sharma                                             <l.sharma@mpie.de>
Mahesh Balasubramaniam                                 <m.balasubramaniam@mpie.de>
Martin Diehl <mail@martin-diehl.net>                   <martin.diehl@kuleuven.be>
Martin Diehl <mail@martin-diehl.net>                   <m.diehl@mpie.de>
Martin Diehl <mail@martin-diehl.net>                   <m@quadcore.fritz.box>
Nader Zaafarani                                        <n.zaafarani@mpie.de>
Nan Jia                                                <n.jia@mpie.de>
Navyanth Kusampudi <n.kusampudi@mpie.de>               <navyanthkusam@gmail.com>
Noriki Fujita                                          <noriki.fujita@mpie.de>
Onur Guevenc                                           <o.guevenc@mpie.de>
Philip Eisenlohr                                       <eisenlohr@egr.msu.edu>
Philip Eisenlohr <eisenlohr@egr.msu.edu>               <philipe@rusty.egr.msu.edu>
Pratheek Shanthraj                                     <p.shanthraj@mpie.de>
Pratheek Shanthraj <p.shanthraj@mpie.de>               <pshanthraj@Pratheeks-MBP.fritz.box>
Ricardo Lebensohn                                      <lebenso@lanl.gov>
Satyapriya Gupta <guptas15@msu.edu>                    <guptas15@egr.msu.edu>
Sehar Abbas                                            <s.abbas@mpie.de>
Shaokang Zhang                                         <s.zhang@mpie.de>
Sharan Roongta                                         <s.roongta@mpie.de>
Sharan Roongta <s.roongta@mpie.de>                     <s.roongta@maws14.mpie.de>
Su Leen Wong                                           <s.wong@mpie.de>
Taymor El Achkar                                       <r.elachkar@mpie.de>
Testbot                                                <testbot@damask-multiphysics.org>
Testbot <testbot@damask-multiphysics.org>              <gitlab-runner@matesting2.mpie.de>
Testbot <testbot@damask-multiphysics.org>              <gitlab-runner@matesting.mpie.de>
Testbot <testbot@damask-multiphysics.org>              <damask_user@mpie.de>
Tias Maiti                                             <maititia@msu.edu>
Tias Maiti <maititia@msu.edu>                          <maititia@egr.msu.edu>
Tias Maiti <maititia@msu.edu>                          <tias.msu@gmail.com>
Tobias Binder                                          <Tobias.Binder@awi.de>
Vitesh Shah                                            <vitesh.shah@amag.at>
Vitesh Shah <vitesh.shah@amag.at>                      <v.shah@mpie.de>
William Counts                                         <w.counts@mpie.de>
Yang Su                                                <suyang@egr.msu.edu>
Yannick Naunheim                                       <y.naunheim@mpie.de>
Yannick Naunheim <y.naunheim@mpie.de>                  <y.naunheim@.mpie.de>
Yi Hu                                                  <y.hu@mpie.de>
Yun Jo Ro                                              <yj.ro@mpie.de>
Zhuowen Zhao <zhaozhuo@msu.edu>                        <zhaozhuo@sheila.egr.msu.edu>
