#####################
<homogenization>
#####################

[SX]
type	Taylor
Ngrains	1

[RGC]
type	RGC
Ngrains	8

[Taylor4]
type	Taylor
Ngrains	4

#####################
<microstructure>
#####################

[Aluminum_CubeSX]
(constituent)	phase	1	texture	2	fraction	1.0

[Copper_rCubeSX]
(constituent)	phase	2	texture	3	fraction	1.0

[DPsteel]
(constituent)	phase	3	texture	1	fraction	0.8
(constituent)	phase	4	texture	1	fraction	0.2


#####################
<phase>
#####################

[Aluminum]  # below given format will not work. need to select one constitution block from it.

constitution            j2
c11                     110.9e9
c12                     58.34e9
(output)                flowstress
(output)                strainrate
taylorfactor            3
s0                      31e6
gdot0                   0.001
n                       20
h0                      75e6
s_sat                   63e6
w0                      2.25

constitution            phenomenological
lattice_structure       fcc
Nslip                   12
c11                     106.75e9
c12                     60.41e9
c44                     28.34e9
(output)                slipresistance
(output)                rateofshear
s0_slip                 31e6
gdot0_slip              0.001
n_slip                  20
h0                      75e6
s_sat                   63e6
w0                      2.25
latent_ratio            1.4

constitution             dislobased
(output)                 dislodensity
(output)                 rateofshear
burgers                  2.86e-10	# Burgers vector [m]
Qedge                    3e-19		# Activation energy for dislocation glide [J/K] (0.5*G*b^3)
Qsd                      2.4e-19	# Activation energy for self diffusion [J/K] (gamma-iron)
diff0                    1e-3		# prefactor vacancy diffusion coeffficent (gamma-iron)
interaction_coefficients 1.0 2.2 3.0 1.6 3.8 4.5		# Dislocation interaction coefficients
rho0                     6.0e12		# Initial dislocation density [m/m^3]
c1                       0.1		# Passing stress adjustment
c2                       2.0		# Jump width adjustment
c3                       1.0		# Activation volume adjustment
c4                       50.0		# Average slip distance adjustment for lock formation
c7                       8.0		# Athermal recovery adjustment
c8                       1.0e10		# Thermal recovery adjustment (plays no role for me)

[Copper]

[Ferrite]

[Martensite]

[TWIP steel FeMnC]

constitution		phenomenological
lattice_structure	fcc
Nslip				12
(output)			slipResistance
(output)			rateOfShear
C11		183.9e9			# elastic constants in Pa
C12		101.9e9
C44		115.4e9

### phenomenological constitutive parameters ###
s0_slip		85.0e6		# initial slip resistance
gdot0_slip	0.001		# reference shear rate
n_slip		100.0		# stress exponent
h0			355.0e6		# initial hardening slope
s_sat		265.0e6		# saturation stress
w0			1.0			# exponent

latent_ratio			1.4		# latent/self hardening ratio

### dislocation density-based constitutive parameters ###
burgers		2.56e-10	# Burgers vector [m]
Qedge		5.5e-19		# Activation energy for dislocation glide [J/K] (0.5*G*b^3)
Qsd			4.7e-19		# Activation energy for self diffusion [J/K] (gamma-iron)
diff0		4.0e-5		# prefactor vacancy diffusion coeffficent (gamma-iron)
grain_size	2.0e-5		# Average grain size [m]
interaction_coefficients	1.0 2.2 3.0 1.6 3.8 4.5		# Dislocation interaction coefficients

rho0		6.0e12		# Initial dislocation density [m/m^3]
c1			0.1			# Passing stress adjustment
c2			2.0			# Jump width adjustment
c3			1.0			# Activation volume adjustment
c4			50.0		# Average slip distance adjustment for lock formation
c5			1.0			# Average slip distance adjustment when grain boundaries
c7			8.0			# Athermal recovery adjustment
c8			1.0e10		# Thermal recovery adjustment (plays no role for me)

stack_size	5.0e-8		# Average twin thickness (stacks) [m]
f_sat		1.0			# Total twin volume fraction saturation
c6						# Average slip distance adjustment when twin boundaries [???]
site_scaling	1.0e-6	# Scaling potential nucleation sites
q1			1.0			# Scaling the P-K force on the twinning dislocation
q2			1.0			# Scaling the resolved shear stress

#####################
<texture>
#####################

[random]

[CubeSX]
(gauss)		phi1	0.0	Phi	0.0	phi2	0.0	scatter 0.0	fraction 1.0

[rCubeSX]
(gauss)		phi1	45.0	Phi	0.0	phi2	0.0	scatter 0.0	fraction 1.0



