### $Id$ ###
### debugging parameters ###

debug            1                    # >0 true to switch on debugging
verbose          1                    # >0 true to switch on verbose output
selective        1                    # >0 true to switch on e,i,g selective debugging
element          1                    # selected element for debugging (synonymous: "el", "e")
ip               1                    # selected integration point for debugging (synonymous: "integrationpoint", "i")
grain            1                    # selected grain at ip for debugging (synonymous: "gr", "g")
