### $Id$ ###
### debugging parameters ###

debug            1                    # >0 true to switch on debugging
verbose          1                    # >0 true to switch on verbose output
selective        1                    # >0 true to switch on e,i,g seelctive debugging
element          123                  # selected element for debugging (synonymous: "el", "e")
ip               3                    # selected integration point for debugging (synonymous: "integrationpoint", "i")
grain            5                    # selected grain at ip for debugging (synonymous: "gr", "g")
