#####################
<homogenization>
#####################

[SX]
type	isostrain
Ngrains	1

[RGC]
type	RGC
Ngrains	8

[Taylor2]
type	isostrain
Ngrains	2

[Taylor4]
type	isostrain
Ngrains	4

[Taylor10]
type	isostrain
Ngrains	10

[Taylor100]
type	isostrain
Ngrains	100

#####################
<microstructure>
#####################

[TWIPSteel_Poly]
(constituent)	phase 5	texture	1	fraction	1.0

[TWIPsteel_001]
(constituent)	phase 5	texture	2	fraction	1.0

[TWIPsteel_011]
(constituent)	phase 5	texture	3	fraction	1.0

[TWIPsteel_111]
(constituent)	phase 5	texture	4	fraction	1.0

[TWIPsteel_123]
(constituent)	phase 5	texture	5	fraction	1.0

[Alu_Polycrystal]
(constituent)	phase 1	texture	1	fraction	1.0

[Alu_001]
(constituent)	phase 1	texture	2	fraction	1.0

[Alu_011]
(constituent)	phase 1	texture	3	fraction	1.0

[Alu_111]
(constituent)	phase 1	texture	4	fraction	1.0

#####################
<phase>
#####################

[Aluminum]  # below given format will not work. need to select one constitution block from it.

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9
lattice_structure       fcc
Nslip			12
Ntwin			12
constitution	phenomenological
(output)		slipResistance
(output)		rateOfShear

### phenomenological constitutive parameters ###
s0_slip                 31e6
gdot0_slip              0.001
n_slip                  20
h0                      75e6
s_sat                   63e6
w0                      2.25
latent_ratio            1.4

#constitution            j2
#c11                     110.9e9
#c12                     58.34e9
#(output)                flowstress
#(output)                strainrate
#taylorfactor            3
#s0                      31e6
#gdot0                   0.001
#n                       20
#h0                      75e6
#s_sat                   63e6
#w0                      2.25

[Copper]

[Ferrite]

[Martensite]

[TWIP steel FeMnC]

C11		175.0e9		# elastic constants in Pa
C12		115.0e9
C44		135.0e9
lattice_structure	fcc
Nslip			12
Ntwin			12
#constitution		phenomenological
#(output)		slipResistance
#(output)		rateOfShear
constitution		dislobased
(output)		state_slip
(output)		rateofshear_slip
(output)		mfp_slip
(output)		thresholdstress_slip
(output)		state_twin
(output)		rateofshear_twin
(output)		mfp_twin
(output)		thresholdstress_twin

### phenomenological constitutive parameters ###
#s0_slip	85.0e6		# initial slip resistance
#gdot0_slip	0.001		# reference shear rate
#n_slip		100.0		# stress exponent
#h0		355.0e6		# initial hardening slope
#s_sat		265.0e6		# saturation stress
#w0		1.0		# exponent
#latent_ratio	1.4		# latent/self hardening ratio

### dislocation density-based constitutive parameters ###
burgers		2.56e-10	# Burgers vector [m]
Qedge		5.5e-19		# Activation energy for dislocation glide [J/K] (0.5*G*b^3)
grainsize	2.0e-5		# Average grain size [m]
stacksize	5.0e-8		# Twin stack mean thickness [m]	
fmax		1.0		# Maximum admissible twin volume fraction
Ndot0		0.0		# Number of potential twin source per volume per time [1/m³.s] 
interaction_coefficients	1.0 2.2 3.0 1.6 3.8 4.5	# Dislocation interaction coefficients
rho0		6.0e12		# Initial dislocation density [m/m³]
Cmfpslip	2.0		# Adjustable parameter controlling dislocation mean free path
Cmfptwin	1.0		# Adjustable parameter controlling twin mean free path
Cthresholdslip	0.1		# Adjustable parameter controlling threshold stress for dislocation motion
Cthresholdtwin	1.0		# Adjustable parameter controlling threshold stress for deformation twinning
Cactivolume	1.0		# Adjustable parameter controlling activation volume
Cstorage	0.02		# Adjustable parameter controlling dislocation storage
Carecovery	0.0		# Adjustable parameter controlling athermal recovery

#####################
<texture>
#####################

[random]

[001]
(gauss)		phi1	0.000	Phi	0.000	phi2	0.000	scatter	0.000	fraction	1.000

[101]
(gauss)		phi1	0.000	Phi	45.000	phi2	90.000	scatter	0.000	fraction	1.000

[111]
(gauss)		phi1	0.000	Phi	54.7356	phi2	45.000	scatter	0.000	fraction	1.000

[123]
(gauss)		phi1	209.805	Phi	29.206	phi2	63.435	scatter	0.000	fraction	1.000
