#####################
<homogenization>
#####################

[SX]
type	isostrain
Ngrains	1

[Taylor2]
type	isostrain
Ngrains	2

#####################
<microstructure>
#####################

[Aluminum_Poly]
(constituent)	phase 3	texture	1	fraction	1.0

[Aluminum_001]
(constituent)	phase 3	texture	2	fraction	1.0

[Aluminum_j2]
(constituent)	phase 1	texture	1	fraction	1.0


#####################
<phase>
#####################

[Aluminum_J2isotropic]

constitution            j2

(output)                flowstress
(output)                strainrate

c11                     110.9e9
c12                     58.34e9
taylorfactor            3
tau0                    31e6
gdot0                   0.001
n                       20
h0                      75e6
tausat                  63e6
w0                      1

[Aluminum_phenopowerlaw]
# slip only
constitution            phenopowerlaw

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                totalshear
(output)                resistance_twin
(output)                shearrate_twin
(output)                resolvedstress_twin
(output)                totalvolfrac

lattice_structure       fcc
Nslip                   12  0  0  0              # per family
Ntwin                    0  0  0  0              # per family

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9

gdot0_slip              0.001
n_slip                  20
tau0_slip                 31e6                # per family
tausat_slip               63e6               # per family
gdot0_twin              0.001
n_twin                  20
tau0_twin                 31e6               # per family
s_pr                    0                        # push-up factor for slip saturation due to twinning
twin_b                  0
twin_c                  0
twin_d                  0
twin_e                  0
h0_slipslip             75e6
h0_sliptwin             0
h0_twinslip             0
h0_twintwin             0
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
interaction_sliptwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twinslip    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twintwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 

[Aluminum_nonlocal]

constitution		        nonlocal
/nonlocal/

(output)                rho
(output)                rho_edge
(output)                rho_screw
(output)                excess_rho_edge
(output)                excess_rho_screw
(output)                rho_forest
(output)                shearrate
(output)                resolvedstress
(output)                resistance

lattice_structure       fcc
Nslip                   12  0  0  0               # per family

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9

burgers                 2.86e-10  0  0  0        # Burgers vector in m
rhoEdgePos0             1.0e10  0  0  0          # Initial positive edge dislocation density in m/m**3
rhoEdgeNeg0             1.0e10  0  0  0          # Initial negative edge dislocation density in m/m**3
rhoScrewPos0            1.0e10  0  0  0          # Initial positive screw dislocation density in m/m**3
rhoScrewNeg0            1.0e10  0  0  0          # Initial negative screw dislocation density in m/m**3
rhoEdgeDip0             0  0  0  0               # Initial edge dipole dislocation density in m/m**3
rhoScrewDip0            0  0  0  0               # Initial screw dipole dislocation density in m/m**3
v0                      1e-4  0  0  0            # prefactor for dislocation velocity
dDipMinEdge             1e-9  0  0  0            # minimum distance for stable edge dipoles in m
dDipMinScrew            1e-9  0  0  0            # minimum distance for stable screw dipoles in m
atomicVolume            1.7e-29
D0                      1e-4
Qsd                     2.3e-19
lambda0                 100  0  0  0               # prefactor for mean free path 
interaction_SlipSlip    1.0  2.2  3.0  1.6  3.8  4.5  # Dislocation interaction coefficient

#####################
<texture>
#####################

[random]

[001]
(gauss)		phi1	0.000	Phi	0.000	phi2	0.000	scatter	0.000	fraction	1.000

[101]
(gauss)		phi1	0.000	Phi	45.000	phi2	90.000	scatter	0.000	fraction	1.000

[111]
(gauss)		phi1	0.000	Phi	54.7356	phi2	45.000	scatter	0.000	fraction	1.000

[123]
(gauss)		phi1	209.805	Phi	29.206	phi2	63.435	scatter	0.000	fraction	1.000
