
### numerical parameters ###

relevantStrain                1.0e-7      # strain increment considered significant
iJacoStiffness                1           # frequency of stiffness update
iJacoLpresiduum               1           # frequency of Jacobian update of residuum in Lp
pert_Fg                       1.0e-6      # strain perturbation for FEM Jacobi
nHomog                        20          # homogenization loop limit
nMPstate                      10          # material point state loop limit
nCryst                        20          # crystallite loop limit (only for debugging info, real loop limit is "subStepMin")
nState                        10          # state loop limit
nStress                       40          # stress loop limit
subStepMin                    1.0e-3      # minimum (relative) size of sub-step allowed during cutback in crystallite
rTol_crystalliteState         1.0e-6      # relative tolerance in crystallite state loop 
rTol_crystalliteTemperature   1.0e-6      # relative tolerance in crystallite temperature loop 
rTol_crystalliteStress        1.0e-6      # relative tolerance in crystallite stress loop
aTol_crystalliteStress        1.0e-8      # absolute tolerance in crystallite stress loop

resToler                      1.0e-4      # relative tolerance of residual in GIA iteration
resAbsol                      1.0e+2      # absolute tolerance of residual in GIA iteration (corresponds to ~1 Pa)
resBound                      1.0e+1      # relative maximum value (upper bound) for GIA residual
NRiterMax                     24          # maximum number of GIA iteration