### $Id$ ###
### numerical parameters ###

relevantStrain            1.0e-9      # strain increment considered significant
iJacoStiffness            1           # frequency of stiffness update
iJacoLpresiduum           1           # frequency of Jacobian update of residuum in Lp
pert_Fg                   1.0e-7      # strain perturbation for FEM Jacobi
nHomog                    25          # homogenization loop limit (only for debugging info, loop limit is determined by "subStepMinHomog")
subStepMinHomog           1.0e-3      # minimum (relative) size of sub-step allowed during cutback in homogenization
nMPstate                  10          # materialpoint state loop limit
nCryst                    20          # crystallite loop limit (only for debugging info, loop limit is determined by "subStepMinCryst")
subStepMinCryst           1.0e-3      # minimum (relative) size of sub-step allowed during cutback in crystallite
nState                    50          # state loop limit
nStress                   200         # stress loop limit
rTol_crystalliteState     1.0e-6      # relative tolerance in crystallite state loop (abs tol provided by constitutive law)
rTol_crystalliteStress    1.0e-6      # relative tolerance in crystallite stress loop (Lp residuum)
aTol_crystalliteStress    1.0e-8      # absolute tolerance in crystallite stress loop (Lp residuum!)

aTol_RGC                  1.0e+4      # absolute tolerance of RGC residuum (in Pa)
rTol_RGC                  1.0e-3      # relative ...
aMax_RGC                  1.0e+12     # absolute upper-limit of RGC residuum (in Pa)
rMax_RGC                  1.0e+4      # relative ...
perturbPenalty_RGC        1.0e-8      # perturbation for computing penalty tangent
relevantMismatch_RGC      1.0e-6      # minimum threshold of mismatch
fixed_seed                1234        # put any number larger than zero, integer, if you want to have a pseudo random distribution
