### $Id$ ###
[all]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple in degree
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4) in crystal reference coordinates
(output) grainrotationx # deviation from initial orientation as angle in degrees around sample reference x axis
(output) grainrotationy # deviation from initial orientation as angle in degrees around sample reference y axis
(output) grainrotationz # deviation from initial orientation as angle in degrees around sample reference z axis
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) s              # second Piola-Kichhoff stress tensor; synonyms: "tstar", "secondpiola", "2ndpiola"
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix
(output) ipcoords       # current ip coordinates