### $Id$ ###
### debugging parameters ###

# example:
# --------
# mesh    basic extensive             # switches on the "basic" and "extensive" debugging in mesh-related functions/subroutines
#

debug                                 # debug.f90,           possible values: basic, extensive
math                                  # math.f90,            possible value:  basic
FEsolving                             # FEsolving.f90,       possible value:  basic
mesh                                  # mesh.f90,            possible value:  basic, extensive
material                              # material.f90,        possible values: basic, extensive
lattice                               # lattice.f90,         possible value:  basic
constitutive                          # constitutive_*.f90   possible values: basic, extensive, selective
crystallite                           # crystallite.f90      possible values: basic, extensive, selective
homogenization                        # homogenization_*.f90 possible values: basic, extensive, selective
CPFEM                                 # CPFEM.f90            possible values: basic, extensive, selective
spectral                              # DAMASK_spectral.f90  possible values: basic, fft, restart, divergence, rotation, petsc
abaqus                                # ABAQUS FEM solver    possible values: basic 
#
# Parameters for selective
element          1                    # selected element for debugging (synonymous: "el", "e")
ip               1                    # selected integration point for debugging (synonymous: "integrationpoint", "i")
grain            1                    # selected grain at ip for debugging (synonymous: "gr", "g")
