### $Id$ ###
### debugging parameters ###

verbosity        1                    # level of detail of the debugging output (0-8)
                                      # 0 : only version infos and all from "hypela2"/"umat"
                                      # 1 : basic outputs from "CPFEM.f90", basic output from initialization routines, debug_info
                                      # 2 : extensive outputs from "CPFEM.f90", extensive output from initialization routines
                                      # 3 : basic outputs from "homogenization.f90"
                                      # 4 : extensive outputs from "homogenization.f90"
                                      # 5 : basic outputs from "crystallite.f90"
                                      # 6 : extensive outputs from "crystallite.f90"
                                      # 7 : basic outputs from the constitutive files 
                                      # 8 : extensive outputs from the constitutive files
selective        1                    # >0 true to switch on e,i,g selective debugging
element          1                    # selected element for debugging (synonymous: "el", "e")
ip               1                    # selected integration point for debugging (synonymous: "integrationpoint", "i")
grain            1                    # selected grain at ip for debugging (synonymous: "gr", "g")

### spectral solver debugging parameters ###
generalDebugSpectral    0             # > 0: general (algorithmical) debug outputs
divergenceDebugSpectral 0             # > 0: calculate more divergence measures and print them out