### $Id$ ###
### debugging parameters ###

debug                                 # debug.f90,           possible keys: basic, extensive
math                                  # math.f90,            possible key:  basic
FEsolving                             # FEsolving.f90,       possible key:  basic
mesh                                  # mesh.f90,            possible key:  basic, extensive
material                              # material.f90,        possible keys: basic, extensive
lattice                               # lattice.f90,         possible key:  basic
constitutive                          # constitutive_*.f90   possible keys: basic, extensive, selective
crystallite                           # crystallite.f90      possible keys: basic, extensive, selective
homogenization                        # homogenization_*.f90 possible keys: basic, extensive, selective
CPFEM                                 # CPFEM.f90            possible keys: basic, selective
spectral                              # DAMASK_spectral.f90  possible keys: basic, fft, restart, divergence
abaqus                                # ABAQUS FEM solver    possible keys: basic 
#
# Parameters for selective
element          1                    # selected element for debugging (synonymous: "el", "e")
ip               1                    # selected integration point for debugging (synonymous: "integrationpoint", "i")
grain            1                    # selected grain at ip for debugging (synonymous: "gr", "g")