#-------------------#
<phase>
#-------------------#
/echo/
[Mg]
plasticity            phenopowerlaw
elasticity            hooke

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                totalshear
(output)                resistance_twin
(output)                shearrate_twin
(output)                resolvedstress_twin
(output)                totalvolfrac

lattice_structure       hex
covera_ratio            1.62350                          # from Tromans 2011, Elastic Anisotropy of HCP Metal Crystals and Polycrystals
c11                     59.3e9                           #  - " -
c33                     61.5e9                           #  - " -
c44                     16.4e9                           #  - " -
c12                     25.7e9                           #  - " -
c13                     21.4e9                           #  - " -

#                      basal  prism  prism pyr(a) pyr(c+a) pyr(c+a)
Nslip                  3      3      0      6        0      6      # from Agnew et al 2006, Validating a polycrystal model for the elastoplastic response of mg alloy AZ32 using in situ neutron diffraction
#                      T1 C1 T2 C2         
Ntwin                  6  0  0  6                                  #  - " - 
#                      basal  prism  prism pyr(a) pyr(c+a) pyr(c+a)
tau0_slip               10.0e6  55.0e6  0   60.0e6  0.0   60.0e6     #  - " - table 1, pyr(a) set to pyr(c+a)
tausat_slip             40.0e6 135.0e6  0  150.0e6  0.0  150.0e6     #  - " - table 1, pyr(a) set to pyr(c+a)
#                      T1    C1   T2   C2 
tau0_twin              40e6  0.0  0.0  60.0e6                        #  - " - table 1, compressive twin guessed by Steffi, tensile twin modified to match experimental results
tausat_twin            60e6  0.0  0.0  80.0e6

h0_twintwin           50.0e6                                         #  - " - table 1, same range as theta_0
h0_slipslip          500.0e6                                         #  - " - table 1, same range as theta_0
h0_twinslip          150.0e6                                         # guessing

interaction_slipslip    1 1 1 1 1 1 1 1 1 1   1 1 1 1 1 1 1 1 1 1    1 1 1 1 1 1 1 1 1 1    1 1 1 1 1 1 1 1 1 1   1 1  # just guessing
interaction_twintwin    1 1 1 1 1 1 1 1 1 1   1 1 1 1 1 1 1 1 1 1                                                      #  - " - 
interaction_sliptwin    1 1 1 1 1 1 1 1 1 1   1 1 1 1 1 1 1 1 1 1    1 1 1 1                                           #  - " - 
interaction_twinslip    1 1 1 1 1 1 1 1 1 1   1 1 1 1 1 1 1 1 1 1    1 1 1 1                                           #  - " - 



####################################################
# open for discussion
####################################################
atol_resistance         1
atol_shear              0
atol_twinfrac           0

n_twin                  20
n_slip                  20

gdot0_twin              0.001
gdot0_slip              0.001

twin_b                  0
twin_c                  0
twin_d                  20
twin_e                  20

a_slip                  2.25
s_pr                    10.0                  # push-up factor for slip saturation due to twinning
