[Tungsten]
elasticity          hooke
#plasticity          dislotwin
#plasticity          dislokmc
plasticity	    disloucla 

### Material parameters ###
lattice_structure     bcc
C11                   523.0e9       # From Marinica et al. Journal of Physics: Condensed Matter(2013)
C12                   202.0e9
C44                   161.0e9

grainsize             2.7e-5        # Average grain size [m] 2.0e-5
SolidSolutionStrength 0.0           # Strength due to elements in solid solution

### Dislocation glide parameters ###
#per family
Nslip               12           0 
slipburgers         2.72e-10     2.72e-10       # Burgers vector of slip system [m]
rhoedge0            1.0e12       1.0e12         # Initial edge dislocation density [m/m**3] 1.0e12
rhoedgedip0         1.0          1.0            # Initial edged dipole dislocation density [m/m**3]
Qedge               2.725e-19    2.725e-19      # Activation energy for dislocation glide [J]
v0                  3693.4       755.59         # Initial glide velocity [m/s] 1.0e-4 (kmC 3693.4 ; 755.59)
p_slip              0.86         0.22           # p-exponent in glide velocity
q_slip              1.69         1.01           # q-exponent in glide velocity
u_slip              2.47         0.38           # u-exponent of stress pre-factor (kmC)                      
s_slip              0.00         0.50           # self hardening in glide velocity (kmC)
tau_peierls         2.03e9       2.03e9         # peierls stress [Pa]
#nonschmid_a1        1.00         1.00           # a1 coeff. non schmid law                                      
#nonschmid_a2        0.00         0.00           # a2 coeff. non schmid law

#mobility law
kink_height	    2.567e-10    2.567e-10	# kink height sqrt(6)/3*lattice_parameter [m]	    
omega		    9.1e11	 9.1e11		# attemp frequency (from kMC paper) [s^(-1)]	    
kink_width	    29.95e-10    29.95e-10	# kink pair width ~ 11 b (kMC paper) [m]
dislolength	    78.0e-10	 78.0e-10	# dislocation length (ideally lambda) [m] initial value 25b
#friction_coeff      8.3e-5       8.3e-5         # friction coeff. B (kMC)  [Pa*s]  
#

#hardening
dipoleformationfactor 0         0          # to have hardening due to dipole formation off
CLambdaSlip         10.0        10.0       # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5      4.0e-5     # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19     4.5e-19    # Activation energy for climb [J]
Catomicvolume       1.0         1.0        # Adj. parameter controlling the atomic volume [in b]
Cedgedipmindistance 1.0         1.0        # Adj. parameter controlling the minimum dipole distance [in b]
interaction_slipslip     0.0625 0.0625 0.72 0.05 0.09 0.06 # Queyreau 
nonschmid_coefficients   0 0.56 0.75 0 0 0 #??????????????
