### $Id$ ###
[Orthorombic]

elasticity              hooke
plasticity              none

lattice_structure       orthorhombic
c11                     106.75e9
c22                     106.75e9
c33                     106.75e9
c12                     60.41e9
c13                     60.41e9
c23                     60.41e9
c44                     28.34e9
c55                     28.34e9
c66                     28.34e9