### $Id$ ###
[BCC_Ferrite]
elasticity              hooke
plasticity              phenopowerlaw
lattice_structure       bcc
Nslip                   12  0  0  0              # per family
Ntwin                    0  0  0  0              # per family
c11                     233.3e9
c12                     135.5e9
c44                     118.0e9
gdot0_slip              0.001
n_slip                  20
tau0_slip               88.0e6 0 0 0             # per family
tausat_slip             205.0e6 0 0 0            # per family
gdot0_twin              0.001
n_twin                  20
tau0_twin               31.0e6 0 0 0             # per family
s_pr                    0                        # push-up factor for slip saturation due to twinning
twin_b                  0
twin_c                  0
twin_d                  0
twin_e                  0
h0_slipslip             495.0e6
h0_sliptwin             0
h0_twinslip             0
h0_twintwin             0
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
interaction_sliptwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twinslip    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twintwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
a_slip                 1.0
atol_resistance         1