### $Id$ ###
[Tungsten]
elasticity          hooke
plasticity          dislokmc


### Material parameters ###
lattice_structure     bcc
C11                   523.0e9       # From Marinica et al. Journal of Physics: Condensed Matter(2013)
C12                   202.0e9
C44                   161.0e9

grainsize             2.0e-5        # Average grain size [m] 2.0e-5
SolidSolutionStrength 0.0           # Strength due to elements in solid solution

### Dislocation glide parameters ###
#per family
Nslip               12 0 
slipburgers         2.72e-10        # Burgers vector of slip system [m]
rhoedge0            1.0e12          # Initial edge dislocation density [m/m**3] 1.0e12
rhoedgedip0         1.0             # Initial edged dipole dislocation density [m/m**3]
Qedge               2.725e-19       # Activation energy for dislocation glide [J]
v0                  3560.3          # Initial glide velocity [m/s] 1.0e-4 (kmC)
p_slip              0.16            # p-exponent in glide velocity
q_slip              1.00            # q-exponent in glide velocity
u_slip              2.47            # u-exponent of stress pre-factor (kmC)                                                                     
s_slip              0.97            # self hardening in glide velocity (kmC)
tau_peierls         2.03e9          # peierls stress [Pa]
#v_slip              1.58            # v-exponent in glide velocity (kmC)


#hardening
dipoleformationfactor 0             # to have hardening due to dipole formation off
CLambdaSlip         10.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19         # Activation energy for climb [J]
Catomicvolume       1.0             # Adj. parameter controlling the atomic volume [in b]
Cedgedipmindistance 1.0             # Adj. parameter controlling the minimum dipole distance [in b]
#interaction_slipslip    0 0 0 0 0 0
#interaction_slipslip    0.1 0.1 0.14 0.14 0.14 0.14 
#interaction_slipslip 	 1 0.1 0.9 0.5 0.1 0.7
interaction_slipslip	 0.2 0.11 0.19 0.15 0.11 0.17
#interaction_slipslip    1 1 1.4 1.4 1.4 1.4
