[all]
(output) orientation    # quaternion
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4) in crystal reference coordinates
(output) F              # deformation gradient tensor
(output) Fe             # elastic deformation gradient tensor
(output) Fp             # plastic deformation gradient tensor
(output) P              # first Piola-Kichhoff stress tensor
(output) S              # second Piola-Kichhoff stress tensor
(output) Lp             # plastic velocity gradient tensor
