# The material.config file needs to specify five parts:
# homogenization, microstructure, crystallite, phase, and texture.
# You can either put the full text in here or include suited separate files

<homogenization>
{./Homogenization_Isostrain_SX.config}

<microstructure>
[one_only]
crystallite 1
(constituent)   phase   1   texture 1 fraction  1.0

<crystallite>
{./Crystallite_All.config}

<phase>
{./Phase_Phenopowerlaw_Aluminum.config}

<texture>
{./Texture_Gauss_001.config}
