[Aluminum]
elasticity              hooke
plasticity              phenopowerlaw

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                accumulated_shear_slip

lattice_structure       fcc
Nslip                   12                # per family
Ntwin                    0                # per family

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9

gdot0_slip              0.001
n_slip                  20
tau0_slip                 31e6                # per family
tausat_slip               63e6                # per family
a_slip                  2.25
h0_slipslip             75e6
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
atol_resistance         1
