# Tasan et.al. 2015 Acta Materalia
# Tasan et.al. 2015 International Journal of Plasticity
# Diehl et.al. 2015 Meccanica
[BCC-Martensite]

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       bcc
Nslip                   12  12                  # per family
Ntwin                    0                      # per family
c11                     417.4e9
c12                     242.4e9
c44                     211.1e9
gdot0_slip              0.001
n_slip                  20
tau0_slip               405.8e6  456.7e6        # per family
tausat_slip             872.9e6  971.2e6        # per family
h0_slipslip             563.0e9
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
a_slip                 2.0
(output) totalshear
