[cpTi-alpha]
plasticity	phenopowerlaw
elasticity	hooke

lattice_structure	hex
covera_ratio	1.587

# M. Levy, Handbook of Elastic Properties of Solids, Liquids, and Gases (2001)
c11	160.0e9
c12	 90.0e9
c13	 66.0e9
c33	181.7e9
c44	 46.5e9
# C. Zambaldi, "Orientation informed nanoindentation of a-titanium: Indentation pileup in hexagonal metals deforming by prismatic slip", J. Mater. Res., Vol. 27, No. 1, Jan 14, 2012
gdot0_slip	0.001
n_slip	20
nslip	            3        3 0        6
tau0_slip	  349.3e6    150e6 0 1107.9e6
tausat_slip	  568.6e6 1502.2e6 0 3420.1e6
a_slip	2
h0_slipslip	15e6

interaction_slipslip	1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
