[Air]

## Isotropic Material model to simulate free surfaces ##
## For more information see paper Maiti+Eisenlohr2018, Scripta Materialia, 
## "Fourier-based spectral method solution to finite strain crystal plasticity with free surfaces"

elasticity              hooke
plasticity              isotropic

/dilatation/

(output)                flowstress
(output)                strainrate

lattice_structure       isotropic
c11                     10e9
c12                     0.0
gdot0                   0.001
tau0                    0.3e6
tausat                  0.6e6
h0                      1e6
n                       5
m                       3
a                       2
atol_resistance         1