# Tasan et.al. 2015 Acta Materalia
# Tasan et.al. 2015 International Journal of Plasticity
# Diehl et.al. 2015 Meccanica
[BCC-Ferrite]

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       bcc
Nslip                   12  12                  # per family
Ntwin                    0                      # per family
c11                     233.3e9
c12                     135.5e9
c44                     118.0e9
gdot0_slip              0.001
n_slip                  20
tau0_slip                95.e6  97.e6           # per family, optimization long simplex 109
tausat_slip             222.e6 412.7e6          # per family, optimization long simplex 109
h0_slipslip             1000.0e6
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
w0_slip                 2.0
