
relevantStrain			1.0e-7
iJacoStiffness			1
iJacoLpresiduum			1
pert_Fg				1.0e-6
nHomog				10
nCryst				20
nState				10
nStress				40
subStepMin			1.0e-3
rTol_crystalliteState		1.0e-6
rTol_crystalliteStress		1.0e-6
aTol_crystalliteStress		1.0e-8

resToler			1.0e-4
resAbsol			1.0e+2
resBound			1.0e+1
NRiterMax			24