#-------------------#
<homogenization>
#-------------------#
[SX]
mech	        isostrain
Nconstituents	      1

#-------------------#
<crystallite>
#-------------------#

[aLittleSomething]
(output) f
(output) p

#-------------------#
<phase>
#-------------------#

[Aluminum]
elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       fcc
Nslip                   12                # per family
Ntwin                   0                # per family

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9

gdot0_slip              0.001
n_slip                  20
tau0_slip               31e6                # per family
tausat_slip             63e6                # per family
a_slip                  2.25
gdot0_twin              0.001
n_twin                  20
tau0_twin               31e6                # per family
s_pr                    0                     # push-up factor for slip saturation due to twinning
twin_b                  0
twin_c                  0
twin_d                  0
twin_e                  0
h0_slipslip             75e6
h0_twinslip             0
h0_twintwin             0
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
interaction_sliptwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twinslip    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twintwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 
atol_resistance         1

#-------------------#
<microstructure>
#-------------------#

[Grain001]
crystallite 1
(constituent)	phase 1	texture   1	fraction 1.0

[Grain002]
crystallite 1
(constituent)	phase 1	texture   2	fraction 1.0

[Grain003]
crystallite 1
(constituent)	phase 1	texture   3	fraction 1.0

[Grain004]
crystallite 1
(constituent)	phase 1	texture   4	fraction 1.0

[Grain005]
crystallite 1
(constituent)	phase 1	texture   5	fraction 1.0

[Grain006]
crystallite 1
(constituent)	phase 1	texture   6	fraction 1.0

[Grain007]
crystallite 1
(constituent)	phase 1	texture   7	fraction 1.0

[Grain008]
crystallite 1
(constituent)	phase 1	texture   8	fraction 1.0

[Grain009]
crystallite 1
(constituent)	phase 1	texture   9	fraction 1.0

[Grain010]
crystallite 1
(constituent)	phase 1	texture  10	fraction 1.0

[Grain011]
crystallite 1
(constituent)	phase 1	texture  11	fraction 1.0

[Grain012]
crystallite 1
(constituent)	phase 1	texture  12	fraction 1.0

[Grain013]
crystallite 1
(constituent)	phase 1	texture  13	fraction 1.0

[Grain014]
crystallite 1
(constituent)	phase 1	texture  14	fraction 1.0

[Grain015]
crystallite 1
(constituent)	phase 1	texture  15	fraction 1.0

[Grain016]
crystallite 1
(constituent)	phase 1	texture  16	fraction 1.0

[Grain017]
crystallite 1
(constituent)	phase 1	texture  17	fraction 1.0

[Grain018]
crystallite 1
(constituent)	phase 1	texture  18	fraction 1.0

[Grain019]
crystallite 1
(constituent)	phase 1	texture  19	fraction 1.0

[Grain020]
crystallite 1
(constituent)	phase 1	texture  20	fraction 1.0

[Grain021]
crystallite 1
(constituent)	phase 1	texture  21	fraction 1.0

[Grain022]
crystallite 1
(constituent)	phase 1	texture  22	fraction 1.0

[Grain023]
crystallite 1
(constituent)	phase 1	texture  23	fraction 1.0

[Grain024]
crystallite 1
(constituent)	phase 1	texture  24	fraction 1.0

[Grain025]
crystallite 1
(constituent)	phase 1	texture  25	fraction 1.0

[Grain026]
crystallite 1
(constituent)	phase 1	texture  26	fraction 1.0

[Grain027]
crystallite 1
(constituent)	phase 1	texture  27	fraction 1.0

[Grain028]
crystallite 1
(constituent)	phase 1	texture  28	fraction 1.0

[Grain029]
crystallite 1
(constituent)	phase 1	texture  29	fraction 1.0

[Grain030]
crystallite 1
(constituent)	phase 1	texture  30	fraction 1.0

[Grain031]
crystallite 1
(constituent)	phase 1	texture  31	fraction 1.0

[Grain032]
crystallite 1
(constituent)	phase 1	texture  32	fraction 1.0

[Grain033]
crystallite 1
(constituent)	phase 1	texture  33	fraction 1.0

[Grain034]
crystallite 1
(constituent)	phase 1	texture  34	fraction 1.0

[Grain035]
crystallite 1
(constituent)	phase 1	texture  35	fraction 1.0

[Grain036]
crystallite 1
(constituent)	phase 1	texture  36	fraction 1.0

[Grain037]
crystallite 1
(constituent)	phase 1	texture  37	fraction 1.0

[Grain038]
crystallite 1
(constituent)	phase 1	texture  38	fraction 1.0

[Grain039]
crystallite 1
(constituent)	phase 1	texture  39	fraction 1.0

[Grain040]
crystallite 1
(constituent)	phase 1	texture  40	fraction 1.0

[Grain041]
crystallite 1
(constituent)	phase 1	texture  41	fraction 1.0

[Grain042]
crystallite 1
(constituent)	phase 1	texture  42	fraction 1.0

[Grain043]
crystallite 1
(constituent)	phase 1	texture  43	fraction 1.0

[Grain044]
crystallite 1
(constituent)	phase 1	texture  44	fraction 1.0

[Grain045]
crystallite 1
(constituent)	phase 1	texture  45	fraction 1.0

[Grain046]
crystallite 1
(constituent)	phase 1	texture  46	fraction 1.0

[Grain047]
crystallite 1
(constituent)	phase 1	texture  47	fraction 1.0

[Grain048]
crystallite 1
(constituent)	phase 1	texture  48	fraction 1.0

[Grain049]
crystallite 1
(constituent)	phase 1	texture  49	fraction 1.0

[Grain050]
crystallite 1
(constituent)	phase 1	texture  50	fraction 1.0

[Grain051]
crystallite 1
(constituent)	phase 1	texture  51	fraction 1.0

[Grain052]
crystallite 1
(constituent)	phase 1	texture  52	fraction 1.0

[Grain053]
crystallite 1
(constituent)	phase 1	texture  53	fraction 1.0

[Grain054]
crystallite 1
(constituent)	phase 1	texture  54	fraction 1.0

[Grain055]
crystallite 1
(constituent)	phase 1	texture  55	fraction 1.0

[Grain056]
crystallite 1
(constituent)	phase 1	texture  56	fraction 1.0

[Grain057]
crystallite 1
(constituent)	phase 1	texture  57	fraction 1.0

[Grain058]
crystallite 1
(constituent)	phase 1	texture  58	fraction 1.0

[Grain059]
crystallite 1
(constituent)	phase 1	texture  59	fraction 1.0

[Grain060]
crystallite 1
(constituent)	phase 1	texture  60	fraction 1.0

[Grain061]
crystallite 1
(constituent)	phase 1	texture  61	fraction 1.0

[Grain062]
crystallite 1
(constituent)	phase 1	texture  62	fraction 1.0

[Grain063]
crystallite 1
(constituent)	phase 1	texture  63	fraction 1.0

[Grain064]
crystallite 1
(constituent)	phase 1	texture  64	fraction 1.0

[Grain065]
crystallite 1
(constituent)	phase 1	texture  65	fraction 1.0

[Grain066]
crystallite 1
(constituent)	phase 1	texture  66	fraction 1.0

[Grain067]
crystallite 1
(constituent)	phase 1	texture  67	fraction 1.0

[Grain068]
crystallite 1
(constituent)	phase 1	texture  68	fraction 1.0

[Grain069]
crystallite 1
(constituent)	phase 1	texture  69	fraction 1.0

[Grain070]
crystallite 1
(constituent)	phase 1	texture  70	fraction 1.0

[Grain071]
crystallite 1
(constituent)	phase 1	texture  71	fraction 1.0

[Grain072]
crystallite 1
(constituent)	phase 1	texture  72	fraction 1.0

[Grain073]
crystallite 1
(constituent)	phase 1	texture  73	fraction 1.0

[Grain074]
crystallite 1
(constituent)	phase 1	texture  74	fraction 1.0

[Grain075]
crystallite 1
(constituent)	phase 1	texture  75	fraction 1.0

[Grain076]
crystallite 1
(constituent)	phase 1	texture  76	fraction 1.0

[Grain077]
crystallite 1
(constituent)	phase 1	texture  77	fraction 1.0

[Grain078]
crystallite 1
(constituent)	phase 1	texture  78	fraction 1.0

[Grain079]
crystallite 1
(constituent)	phase 1	texture  79	fraction 1.0

[Grain080]
crystallite 1
(constituent)	phase 1	texture  80	fraction 1.0

[Grain081]
crystallite 1
(constituent)	phase 1	texture  81	fraction 1.0

[Grain082]
crystallite 1
(constituent)	phase 1	texture  82	fraction 1.0

[Grain083]
crystallite 1
(constituent)	phase 1	texture  83	fraction 1.0

[Grain084]
crystallite 1
(constituent)	phase 1	texture  84	fraction 1.0

[Grain085]
crystallite 1
(constituent)	phase 1	texture  85	fraction 1.0

[Grain086]
crystallite 1
(constituent)	phase 1	texture  86	fraction 1.0

[Grain087]
crystallite 1
(constituent)	phase 1	texture  87	fraction 1.0

[Grain088]
crystallite 1
(constituent)	phase 1	texture  88	fraction 1.0

[Grain089]
crystallite 1
(constituent)	phase 1	texture  89	fraction 1.0

[Grain090]
crystallite 1
(constituent)	phase 1	texture  90	fraction 1.0

[Grain091]
crystallite 1
(constituent)	phase 1	texture  91	fraction 1.0

[Grain092]
crystallite 1
(constituent)	phase 1	texture  92	fraction 1.0

[Grain093]
crystallite 1
(constituent)	phase 1	texture  93	fraction 1.0

[Grain094]
crystallite 1
(constituent)	phase 1	texture  94	fraction 1.0

[Grain095]
crystallite 1
(constituent)	phase 1	texture  95	fraction 1.0

[Grain096]
crystallite 1
(constituent)	phase 1	texture  96	fraction 1.0

[Grain097]
crystallite 1
(constituent)	phase 1	texture  97	fraction 1.0

[Grain098]
crystallite 1
(constituent)	phase 1	texture  98	fraction 1.0

[Grain099]
crystallite 1
(constituent)	phase 1	texture  99	fraction 1.0

[Grain100]
crystallite 1
(constituent)	phase 1	texture 100	fraction 1.0

#-------------------#
<texture>
#-------------------#

[Grain001]
(gauss)	phi1 172.344	Phi 114.046	phi2 294.669	scatter 0.0	fraction 1.0

[Grain002]
(gauss)	phi1 186.013	Phi 94.7338	phi2 329.683	scatter 0.0	fraction 1.0

[Grain003]
(gauss)	phi1 162.41	Phi 98.9455	phi2 130.322	scatter 0.0	fraction 1.0

[Grain004]
(gauss)	phi1 355.272	Phi 140.621	phi2 125.567	scatter 0.0	fraction 1.0

[Grain005]
(gauss)	phi1 21.7641	Phi 143.388	phi2 240.373	scatter 0.0	fraction 1.0

[Grain006]
(gauss)	phi1 88.1966	Phi 92.3358	phi2 194.78	scatter 0.0	fraction 1.0

[Grain007]
(gauss)	phi1 161.137	Phi 78.0062	phi2 111.948	scatter 0.0	fraction 1.0

[Grain008]
(gauss)	phi1 169.792	Phi 89.5333	phi2 159.265	scatter 0.0	fraction 1.0

[Grain009]
(gauss)	phi1 264.847	Phi 130.291	phi2 180.604	scatter 0.0	fraction 1.0

[Grain010]
(gauss)	phi1 70.6323	Phi 84.1754	phi2 341.162	scatter 0.0	fraction 1.0

[Grain011]
(gauss)	phi1 67.7751	Phi 36.1662	phi2 139.898	scatter 0.0	fraction 1.0

[Grain012]
(gauss)	phi1 111.621	Phi 19.1089	phi2 228.338	scatter 0.0	fraction 1.0

[Grain013]
(gauss)	phi1 129.9	Phi 139.011	phi2 238.735	scatter 0.0	fraction 1.0

[Grain014]
(gauss)	phi1 221.405	Phi 129.743	phi2 99.6471	scatter 0.0	fraction 1.0

[Grain015]
(gauss)	phi1 241.783	Phi 98.3729	phi2 260.615	scatter 0.0	fraction 1.0

[Grain016]
(gauss)	phi1 72.5592	Phi 122.403	phi2 165.046	scatter 0.0	fraction 1.0

[Grain017]
(gauss)	phi1 64.8818	Phi 82.6384	phi2 236.305	scatter 0.0	fraction 1.0

[Grain018]
(gauss)	phi1 201.096	Phi 65.9312	phi2 330.745	scatter 0.0	fraction 1.0

[Grain019]
(gauss)	phi1 192.994	Phi 81.9371	phi2 239.326	scatter 0.0	fraction 1.0

[Grain020]
(gauss)	phi1 125.335	Phi 90.4527	phi2 207.982	scatter 0.0	fraction 1.0

[Grain021]
(gauss)	phi1 55.8848	Phi 26.4455	phi2 100.921	scatter 0.0	fraction 1.0

[Grain022]
(gauss)	phi1 40.722	Phi 95.6415	phi2 269.174	scatter 0.0	fraction 1.0

[Grain023]
(gauss)	phi1 250.487	Phi 69.6035	phi2 201.732	scatter 0.0	fraction 1.0

[Grain024]
(gauss)	phi1 204.199	Phi 84.983	phi2 20.3469	scatter 0.0	fraction 1.0

[Grain025]
(gauss)	phi1 12.7416	Phi 128.589	phi2 271.553	scatter 0.0	fraction 1.0

[Grain026]
(gauss)	phi1 299.704	Phi 85.3961	phi2 217.359	scatter 0.0	fraction 1.0

[Grain027]
(gauss)	phi1 48.8232	Phi 83.6209	phi2 200.361	scatter 0.0	fraction 1.0

[Grain028]
(gauss)	phi1 336.395	Phi 97.3059	phi2 187.071	scatter 0.0	fraction 1.0

[Grain029]
(gauss)	phi1 274.354	Phi 78.2424	phi2 320.308	scatter 0.0	fraction 1.0

[Grain030]
(gauss)	phi1 320.776	Phi 149.72	phi2 163.862	scatter 0.0	fraction 1.0

[Grain031]
(gauss)	phi1 179.549	Phi 106.548	phi2 345.498	scatter 0.0	fraction 1.0

[Grain032]
(gauss)	phi1 163.508	Phi 24.4238	phi2 127.809	scatter 0.0	fraction 1.0

[Grain033]
(gauss)	phi1 193.405	Phi 157.012	phi2 321.342	scatter 0.0	fraction 1.0

[Grain034]
(gauss)	phi1 9.09886	Phi 95.9453	phi2 102.32	scatter 0.0	fraction 1.0

[Grain035]
(gauss)	phi1 353.876	Phi 150.824	phi2 174.886	scatter 0.0	fraction 1.0

[Grain036]
(gauss)	phi1 138.914	Phi 76.5811	phi2 167.927	scatter 0.0	fraction 1.0

[Grain037]
(gauss)	phi1 262.655	Phi 76.2738	phi2 12.4459	scatter 0.0	fraction 1.0

[Grain038]
(gauss)	phi1 121.849	Phi 65.5254	phi2 192.601	scatter 0.0	fraction 1.0

[Grain039]
(gauss)	phi1 275.824	Phi 81.6788	phi2 164.228	scatter 0.0	fraction 1.0

[Grain040]
(gauss)	phi1 68.9202	Phi 160.5	phi2 210.862	scatter 0.0	fraction 1.0

[Grain041]
(gauss)	phi1 51.0398	Phi 82.7291	phi2 74.016	scatter 0.0	fraction 1.0

[Grain042]
(gauss)	phi1 338.746	Phi 62.7854	phi2 129.362	scatter 0.0	fraction 1.0

[Grain043]
(gauss)	phi1 204.51	Phi 151.256	phi2 178.89	scatter 0.0	fraction 1.0

[Grain044]
(gauss)	phi1 122.098	Phi 104.003	phi2 323.04	scatter 0.0	fraction 1.0

[Grain045]
(gauss)	phi1 106.693	Phi 108.61	phi2 336.935	scatter 0.0	fraction 1.0

[Grain046]
(gauss)	phi1 118.856	Phi 160.992	phi2 316.152	scatter 0.0	fraction 1.0

[Grain047]
(gauss)	phi1 177.962	Phi 114.868	phi2 13.6918	scatter 0.0	fraction 1.0

[Grain048]
(gauss)	phi1 330.273	Phi 174.495	phi2 231.249	scatter 0.0	fraction 1.0

[Grain049]
(gauss)	phi1 7.31937	Phi 94.7313	phi2 17.8461	scatter 0.0	fraction 1.0

[Grain050]
(gauss)	phi1 74.3385	Phi 49.9546	phi2 286.482	scatter 0.0	fraction 1.0

[Grain051]
(gauss)	phi1 326.388	Phi 76.9547	phi2 214.758	scatter 0.0	fraction 1.0

[Grain052]
(gauss)	phi1 276.024	Phi 72.1242	phi2 275.884	scatter 0.0	fraction 1.0

[Grain053]
(gauss)	phi1 137.681	Phi 116.99	phi2 6.87047	scatter 0.0	fraction 1.0

[Grain054]
(gauss)	phi1 200.213	Phi 123.618	phi2 268.84	scatter 0.0	fraction 1.0

[Grain055]
(gauss)	phi1 7.13702	Phi 56.2015	phi2 119.65	scatter 0.0	fraction 1.0

[Grain056]
(gauss)	phi1 72.1783	Phi 81.0906	phi2 6.06213	scatter 0.0	fraction 1.0

[Grain057]
(gauss)	phi1 184.565	Phi 110.01	phi2 239.546	scatter 0.0	fraction 1.0

[Grain058]
(gauss)	phi1 210.124	Phi 128.631	phi2 8.61611	scatter 0.0	fraction 1.0

[Grain059]
(gauss)	phi1 290.326	Phi 170.412	phi2 144.269	scatter 0.0	fraction 1.0

[Grain060]
(gauss)	phi1 204.748	Phi 76.7343	phi2 200.385	scatter 0.0	fraction 1.0

[Grain061]
(gauss)	phi1 54.3015	Phi 65.9143	phi2 117.373	scatter 0.0	fraction 1.0

[Grain062]
(gauss)	phi1 261.263	Phi 52.255	phi2 95.9146	scatter 0.0	fraction 1.0

[Grain063]
(gauss)	phi1 328.054	Phi 51.0778	phi2 24.2782	scatter 0.0	fraction 1.0

[Grain064]
(gauss)	phi1 163.03	Phi 154.894	phi2 64.126	scatter 0.0	fraction 1.0

[Grain065]
(gauss)	phi1 183.87	Phi 80.1848	phi2 18.7438	scatter 0.0	fraction 1.0

[Grain066]
(gauss)	phi1 219.91	Phi 113.727	phi2 126.67	scatter 0.0	fraction 1.0

[Grain067]
(gauss)	phi1 1.43844	Phi 87.6365	phi2 217.342	scatter 0.0	fraction 1.0

[Grain068]
(gauss)	phi1 16.6245	Phi 162.07	phi2 43.7899	scatter 0.0	fraction 1.0

[Grain069]
(gauss)	phi1 16.86	Phi 53.8682	phi2 256.917	scatter 0.0	fraction 1.0

[Grain070]
(gauss)	phi1 1.01921	Phi 118.449	phi2 307.223	scatter 0.0	fraction 1.0

[Grain071]
(gauss)	phi1 19.0397	Phi 83.8885	phi2 262.687	scatter 0.0	fraction 1.0

[Grain072]
(gauss)	phi1 99.799	Phi 77.2307	phi2 84.9727	scatter 0.0	fraction 1.0

[Grain073]
(gauss)	phi1 234.292	Phi 63.5029	phi2 250.315	scatter 0.0	fraction 1.0

[Grain074]
(gauss)	phi1 315.529	Phi 106.015	phi2 103.711	scatter 0.0	fraction 1.0

[Grain075]
(gauss)	phi1 235.595	Phi 110.152	phi2 210.277	scatter 0.0	fraction 1.0

[Grain076]
(gauss)	phi1 341.907	Phi 17.1839	phi2 332.75	scatter 0.0	fraction 1.0

[Grain077]
(gauss)	phi1 352.166	Phi 88.6049	phi2 114.964	scatter 0.0	fraction 1.0

[Grain078]
(gauss)	phi1 342.33	Phi 117.777	phi2 180.346	scatter 0.0	fraction 1.0

[Grain079]
(gauss)	phi1 224.952	Phi 70.5702	phi2 148.486	scatter 0.0	fraction 1.0

[Grain080]
(gauss)	phi1 7.71702	Phi 23.6124	phi2 131.591	scatter 0.0	fraction 1.0

[Grain081]
(gauss)	phi1 65.1024	Phi 138.774	phi2 247.344	scatter 0.0	fraction 1.0

[Grain082]
(gauss)	phi1 37.6181	Phi 51.5209	phi2 8.4169	scatter 0.0	fraction 1.0

[Grain083]
(gauss)	phi1 245.335	Phi 53.4543	phi2 52.5205	scatter 0.0	fraction 1.0

[Grain084]
(gauss)	phi1 259.572	Phi 87.7026	phi2 272.065	scatter 0.0	fraction 1.0

[Grain085]
(gauss)	phi1 269.39	Phi 103.379	phi2 132.506	scatter 0.0	fraction 1.0

[Grain086]
(gauss)	phi1 175.156	Phi 119.338	phi2 355.51	scatter 0.0	fraction 1.0

[Grain087]
(gauss)	phi1 248.11	Phi 39.4772	phi2 310.371	scatter 0.0	fraction 1.0

[Grain088]
(gauss)	phi1 121.809	Phi 141.465	phi2 10.0736	scatter 0.0	fraction 1.0

[Grain089]
(gauss)	phi1 2.4357	Phi 47.118	phi2 274.654	scatter 0.0	fraction 1.0

[Grain090]
(gauss)	phi1 314.188	Phi 134.146	phi2 250.673	scatter 0.0	fraction 1.0

[Grain091]
(gauss)	phi1 114.815	Phi 121.132	phi2 275.124	scatter 0.0	fraction 1.0

[Grain092]
(gauss)	phi1 126.699	Phi 99.0325	phi2 320.537	scatter 0.0	fraction 1.0

[Grain093]
(gauss)	phi1 184.138	Phi 20.1663	phi2 159.314	scatter 0.0	fraction 1.0

[Grain094]
(gauss)	phi1 296.502	Phi 15.2389	phi2 39.382	scatter 0.0	fraction 1.0

[Grain095]
(gauss)	phi1 167.8	Phi 151.764	phi2 192.568	scatter 0.0	fraction 1.0

[Grain096]
(gauss)	phi1 257.822	Phi 133.446	phi2 257.108	scatter 0.0	fraction 1.0

[Grain097]
(gauss)	phi1 71.6923	Phi 74.5726	phi2 342.575	scatter 0.0	fraction 1.0

[Grain098]
(gauss)	phi1 176.748	Phi 28.39	phi2 327.375	scatter 0.0	fraction 1.0

[Grain099]
(gauss)	phi1 121.822	Phi 141.836	phi2 22.6349	scatter 0.0	fraction 1.0

[Grain100]
(gauss)	phi1 180.151	Phi 109.246	phi2 146.177	scatter 0.0	fraction 1.0
