[Tungsten]
elasticity          hooke
plasticity	    disloucla 

(output)           edge_density
(output)           dipole_density
(output)           shear_rate_slip
(output)           accumulated_shear_slip
(output)           mfp_slip
(output)           resolved_stress_slip
(output)           threshold_stress_slip
(output)           twin_fraction
(output)           shear_rate_twin
(output)           accumulated_shear_twin
(output)           mfp_twin
(output)           resolved_stress_twin
(output)           threshold_stress_twin

### Material parameters ###
lattice_structure     bcc
C11                   523.0e9       # From Marinica et al. Journal of Physics: Condensed Matter(2013)
C12                   202.0e9
C44                   161.0e9

grainsize             2.7e-5        # Average grain size [m] 2.0e-5
SolidSolutionStrength 0.0           # Strength due to elements in solid solution

### Dislocation glide parameters ###
#per family
Nslip               12
slipburgers         2.72e-10                # Burgers vector of slip system [m]
rhoedge0            1.0e12                  # Initial edge dislocation density [m/m**3]
rhoedgedip0         1.0                     # Initial edged dipole dislocation density [m/m**3]
Qedge               2.61154e-19             # Activation energy for dislocation glide [J], 1.63 eV
v0                  1                       # Initial glide velocity [m/s]
p_slip              0.86                    # p-exponent in glide velocity
q_slip              1.69                    # q-exponent in glide velocity
tau_peierls         2.03e9                  # peierls stress [Pa]

#mobility law
kink_height	    2.567e-10                   # kink height sqrt(6)/3*lattice_parameter [m]
omega		        9.1e11	                    # attemp frequency (from kMC paper) [s^(-1)]
kink_width	    29.95e-10                   # kink pair width ~ 11 b (kMC paper) [m]
dislolength	    78e-10	                    # dislocation length (ideally lambda) [m] initial value 11b
friction_coeff  8.3e-5                      # friction coeff. B [Pa*s]

#hardening
dipoleformationfactor 0                     # to have hardening due to dipole formation off
CLambdaSlip         10.0                    # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5                  # Vacancy diffusion prefactor [m**2/s]
Qsd                 4.5e-19                 # Activation energy for climb [J]
Catomicvolume       1.0                     # Adj. parameter controlling the atomic volume [in b]
Cedgedipmindistance 1.0                     # Adj. parameter controlling the minimum dipole distance [in b]
interaction_slipslip     0.009 0.72 0.009 0.05 0.05 0.06 0.09
nonschmid_coefficients   0.938 0.71 4.43 0.0 0.0 0.0
