[Aluminum]
plasticity              nonlocal
/nonlocal/

(output)                rho_sgl_mob_edg_pos
(output)                rho_sgl_imm_edg_pos
(output)                rho_sgl_mob_edg_neg
(output)                rho_sgl_imm_edg_neg
(output)                rho_sgl_mob_scr_pos
(output)                rho_sgl_imm_scr_pos
(output)                rho_sgl_mob_scr_neg
(output)                rho_sgl_imm_scr_neg
(output)                rho_dip_edg
(output)                rho_dip_scr
(output)                rho_forest
(output)                gamma
(output)                tau_pass
(output)                v_edg_pos
(output)                v_edg_neg
(output)                v_scr_pos
(output)                v_scr_neg

lattice_structure       fcc
Nslip                   12                       # number of slip systems

burgers                 2.86e-10                 # Burgers vector in m
rhoSglEdgePos0          0.25e10                  # Initial positive edge single dislocation density in m/m**3 (per slip family)
rhoSglEdgeNeg0          0.25e10                  # Initial negative edge single dislocation density in m/m**3 (per slip family)
rhoSglScrewPos0         0.25e10                  # Initial positive screw single dislocation density in m/m**3 (per slip family)
rhoSglScrewNeg0         0.25e10                  # Initial negative screw single dislocation density in m/m**3 (per slip family)
rhoDipEdge0             1e8                      # Initial edge dipole dislocation density in m/m**3 (per slip family)
rhoDipScrew0            1e8                      # Initial screw dipole dislocation density in m/m**3 (per slip family)
rhoSglScatter           0                        # standard deviation of scatter in initial single dislocation density
#rhoSglRandom           1e12                     # randomly distributed total dislocation density (sum over all slip systems and types) in m/m**3
#rhoSglRandomBinning    1                        # binning size of randomly distributed dislocations (number of dislocations per ip volume)
minimumDipoleHeightEdge  2e-9                    # minimum distance for stable edge dipoles in m (per slip family)
minimumDipoleHeightScrew 2e-9                    # minimum distance for stable screw dipoles in m (per slip family)
lambda0                 80                       # prefactor for mean free path 
edgeMultiplication      0.1                      # factor to which edges contribute to multiplication
atomicVolume            1.7e-29                  # atomic volume in m**3
selfdiffusionPrefactor  1e-4                     # prefactor for self-diffusion coefficient in m**2/s
selfdiffusionEnergy     2.3e-19                  # activation enthalpy for seld-diffusion in J
solidSolutionEnergy     2e-19                    # activation energy of solid solution particles in J
solidSolutionConcentration 1e-5                  # concentration of solid solution in parts per b^3
solidSolutionSize       2                        # size of solid solution obstacles in multiples of burgers vector length
peierlsStressEdge       1e5                      # Peierls stress for edges in Pa (per slip family)
peierlsStressScrew      1e5                      # Peierls stress for screws in Pa (per slip family)
doublekinkWidth         10                       # width of double kinks in multiples of burgers vector length b
viscosity               1e-4                     # viscosity for dislocation glide in Pa s
p                       1                        # exponent for thermal barrier profile
q                       1                        # exponent for thermal barrier profile
attackFrequency         50e9                     # attack frequency in Hz
surfaceTransmissivity   1.0                      # transmissivity of free surfaces for dislocation flux
grainboundaryTransmissivity   0.0                # transmissivity of grain boundaries for dislocation flux (grain bundaries are identified as interfaces with different textures on both sides); if not set or set to negative number, the subroutine automatically determines the transmissivity at the grain boundary
interaction_SlipSlip    0  0  0.625  0.07  0.137  0.137  0.122  # Dislocation interaction coefficient
linetension             0.8                      # constant indicating the effect of the line tension on the hardening coefficients (0 to 1)
edgejog                 1.0                      # fraction of annihilated screw dipoles that forms edge jogs (0 to 1)
shortRangeStressCorrection 0                     # switch for use of short range correction stress
cutoffRadius            1e-3                     # cutoff radius for dislocation stress in m
CFLfactor               2.0                      # safety factor for CFL flux check (numerical parameter)
significantRho          1e6                      # minimum dislocation density considered relevant in m/m**3
#significantN           0.1                      # minimum dislocation number per ip considered relevant
randomMultiplication    0                        # switch for probabilistic extension of multiplication rate
