#-------------------#
<homogenization>
#-------------------#

[SX]
type	isostrain
Ngrains	1


#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor


#-------------------#
<phase>
#-------------------#
[Aluminum_phenopowerlaw]
elasticity              hooke
plasticity              phenopowerlaw

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                totalshear
(output)                resistance_twin
(output)                shearrate_twin
(output)                resolvedstress_twin
(output)                totalvolfrac

lattice_structure       fcc
Nslip                   12  0  0  0              # per family
Ntwin                    0  0  0  0              # per family

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9

gdot0_slip              0.001
n_slip                  20
tau0_slip                 31e6                # per family
tausat_slip               63e6               # per family
a_slip                  2.25
gdot0_twin              0.001
n_twin                  20
tau0_twin                 31e6               # per family
s_pr                    0                        # push-up factor for slip saturation due to twinning
twin_b                  0
twin_c                  0
twin_d                  0
twin_e                  0
h0_slipslip             75e6
h0_sliptwin             0
h0_twinslip             0
h0_twintwin             0
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
interaction_sliptwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twinslip    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twintwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 
atol_resistance         1


#-------------------#
<microstructure>
#-------------------#
[Grain01]
crystallite 1
(constituent)  phase 1   texture 01   fraction 1.0
[Grain02]
crystallite 1
(constituent)  phase 1   texture 02   fraction 1.0
[Grain03]
crystallite 1
(constituent)  phase 1   texture 03   fraction 1.0
[Grain04]
crystallite 1
(constituent)  phase 1   texture 04   fraction 1.0
[Grain05]
crystallite 1
(constituent)  phase 1   texture 05   fraction 1.0
[Grain06]
crystallite 1
(constituent)  phase 1   texture 06   fraction 1.0
[Grain07]
crystallite 1
(constituent)  phase 1   texture 07   fraction 1.0
[Grain08]
crystallite 1
(constituent)  phase 1   texture 08   fraction 1.0
[Grain09]
crystallite 1
(constituent)  phase 1   texture 09   fraction 1.0
[Grain10]
crystallite 1
(constituent)  phase 1   texture 10   fraction 1.0
[Grain11]
crystallite 1
(constituent)  phase 1   texture 11   fraction 1.0
[Grain12]
crystallite 1
(constituent)  phase 1   texture 12   fraction 1.0
[Grain13]
crystallite 1
(constituent)  phase 1   texture 13   fraction 1.0
[Grain14]
crystallite 1
(constituent)  phase 1   texture 14   fraction 1.0
[Grain15]
crystallite 1
(constituent)  phase 1   texture 15   fraction 1.0
[Grain16]
crystallite 1
(constituent)  phase 1   texture 16   fraction 1.0
[Grain17]
crystallite 1
(constituent)  phase 1   texture 17   fraction 1.0
[Grain18]
crystallite 1
(constituent)  phase 1   texture 18   fraction 1.0
[Grain19]
crystallite 1
(constituent)  phase 1   texture 19   fraction 1.0
[Grain20]
crystallite 1
(constituent)  phase 1   texture 20   fraction 1.0


#-------------------#
<texture>
#-------------------#
[Grain01]
(gauss)  phi1 0.0    Phi 0.0    phi2 0.0   scatter 0.0   fraction 1.0
[Grain02]
(gauss)  phi1 257.468172    Phi 53.250534    phi2 157.331503   scatter 0.0   fraction 1.0
[Grain03]
(gauss)  phi1 216.994815    Phi 94.418518    phi2 251.147231   scatter 0.0   fraction 1.0
[Grain04]
(gauss)  phi1 196.157946    Phi 55.870978    phi2 21.68117   scatter 0.0   fraction 1.0
[Grain05]
(gauss)  phi1 152.515728    Phi 139.769395    phi2 240.036018   scatter 0.0   fraction 1.0
[Grain06]
(gauss)  phi1 232.521881    Phi 73.749222    phi2 241.429633   scatter 0.0   fraction 1.0
[Grain07]
(gauss)  phi1 157.531396    Phi 135.503513    phi2 75.737722   scatter 0.0   fraction 1.0
[Grain08]
(gauss)  phi1 321.03828    Phi 27.209843    phi2 46.413467   scatter 0.0   fraction 1.0
[Grain09]
(gauss)  phi1 346.918594    Phi 87.495569    phi2 113.554206   scatter 0.0   fraction 1.0
[Grain10]
(gauss)  phi1 138.038947    Phi 99.827132    phi2 130.935878   scatter 0.0   fraction 1.0
[Grain11]
(gauss)  phi1 285.021014    Phi 118.092004    phi2 205.270837   scatter 0.0   fraction 1.0
[Grain12]
(gauss)  phi1 190.402171    Phi 56.738068    phi2 157.896545   scatter 0.0   fraction 1.0
[Grain13]
(gauss)  phi1 204.496042    Phi 95.031265    phi2 355.814582   scatter 0.0   fraction 1.0
[Grain14]
(gauss)  phi1 333.21479    Phi 82.133355    phi2 36.736132   scatter 0.0   fraction 1.0
[Grain15]
(gauss)  phi1 25.572981    Phi 164.242648    phi2 75.195632   scatter 0.0   fraction 1.0
[Grain16]
(gauss)  phi1 31.366548    Phi 76.392403    phi2 58.071426   scatter 0.0   fraction 1.0
[Grain17]
(gauss)  phi1 7.278623    Phi 77.044663    phi2 235.118997   scatter 0.0   fraction 1.0
[Grain18]
(gauss)  phi1 299.743144    Phi 76.475096    phi2 91.184977   scatter 0.0   fraction 1.0
[Grain19]
(gauss)  phi1 280.13643    Phi 27.439718    phi2 167.871878   scatter 0.0   fraction 1.0
[Grain20]
(gauss)  phi1 313.204373    Phi 68.676053    phi2 87.993213   scatter 0.0   fraction 1.0
