#####################
<homogenization>
#####################

[SX]
type	Taylor
Ngrains	1

[RGC]
type	RGC
Ngrains	8

[Taylor4]
type	Taylor
Ngrains	4

#####################
<microstructure>
#####################

[cp-Ti_Grain_1]
(constituent)	phase	1	texture	1	fraction	1.0
 

#####################
<phase>
#####################

[cp-Ti]
constitution            phenopowerlaw
(output)                slipresistance
(output)                rateofshear
(output)		        twinresistance
(output)                twinVolfrac
(output)                rateoftwinVolfrac
(output)                tauSlip
(output)                tauTwin
lattice_structure       hex
covera_ratio		 	1.587
Nslip                   3	3	6	12
Ntwin					6	6	6	6
C11			 		    162e9
C12			            92e9
C13		                69e9
C33			            181e9
C44		                47e9

gdot0_slip				0.001
n_slip					50.0
s0_slip					65e6	22e6	50e6	50e6
s_sat_slip			    180e6	80e6	180e6	180e6
gdot0_twin				0.001
n_twin					50.0
s0_twin					70e6	70e6	250e8	250e8
s_pr					100e6
twin_b					25
twin_c					2
twin_d					0.0
twin_e					0.0
h0_slipslip				60e6
h0_sliptwin				0.0
h0_twinslip				0.0
h0_twintwin				0.0
interaction_slipslip    1.0 1.0 1.0 1.0 1.0 5.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0
interaction_sliptwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0
interaction_twinslip    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0
interaction_twintwin    1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0

#####################
<texture>
####################

[Grain_1]
(gauss)	phi1	0.000000	phi	0.00000	phi2	0.00000	scatter	0.0	fraction	1.0
