<homogenization>
[none]
mech none
ngrains 1

<texture>
[Grain1]
(gauss)	phi1 358.98	Phi 65.62	phi2 24.48
[Grain2]
(gauss)	phi1 121.05	Phi 176.11	phi2 295.73
[Grain3]
(gauss)	phi1 43.79	Phi 113.76	phi2 345.90
[Grain4]
(gauss)	phi1 265.15	Phi 62.52	phi2 299.71
[Grain5]
(gauss)	phi1 221.23	Phi 26.54	phi2 207.05
[Grain6]
(gauss)	phi1 249.81	Phi 61.47	phi2 152.14
[Grain7]
(gauss)	phi1 332.45	Phi 99.16	phi2 345.34
[Grain8]
(gauss)	phi1 312.27	Phi 118.27	phi2 181.59
[Grain9]
(gauss)	phi1 303.10	Phi 48.21	phi2 358.03
[Grain10]
(gauss)	phi1 338.26	Phi 48.11	phi2 176.78
[Grain11]
(gauss)	phi1 115.17	Phi 56.54	phi2 223.84
[Grain12]
(gauss)	phi1 281.04	Phi 97.48	phi2 27.94

<microstructure>
[Grain1]
crystallite 1
(constituent)	phase 1	texture 1	fraction 1.0
[Grain2]
crystallite 1
(constituent)	phase 1	texture 2	fraction 1.0
[Grain3]
crystallite 1
(constituent)	phase 1	texture 3	fraction 1.0
[Grain4]
crystallite 1
(constituent)	phase 1	texture 4	fraction 1.0
[Grain5]
crystallite 1
(constituent)	phase 1	texture 5	fraction 1.0
[Grain6]
crystallite 1
(constituent)	phase 1	texture 6	fraction 1.0
[Grain7]
crystallite 1
(constituent)	phase 2	texture 7	fraction 1.0
[Grain8]
crystallite 1
(constituent)	phase 2	texture 8	fraction 1.0
[Grain9]
crystallite 1
(constituent)	phase 2	texture 9	fraction 1.0
[Grain10]
crystallite 1
(constituent)	phase 2	texture 10	fraction 1.0
[Grain11]
crystallite 1
(constituent)	phase 2	texture 11	fraction 1.0
[Grain12]
crystallite 1
(constituent)	phase 2	texture 12	fraction 1.0

<phase>
[pheno_fcc]
elasticity              hooke
plasticity              phenopowerlaw

(output) orientation    # quaternion
(output) F              # deformation gradient tensor
(output) Fe             # elastic deformation gradient tensor
(output) Fp             # plastic deformation gradient tensor
(output) P              # first Piola-Kichhoff stress tensor
(output) Lp             # plastic velocity gradient tensor


lattice_structure       fcc
Nslip                   12   # per family
Ntwin                    0   # per family

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9

gdot0_slip              0.001
n_slip                  20
tau0_slip                 31e6 # per family
tausat_slip               63e6 # per family
a_slip                  2.25
h0_slipslip             75e6
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
atol_resistance         1

[pheno_bcc]
elasticity              hooke
plasticity              phenopowerlaw

(output) orientation    # quaternion
(output) F              # deformation gradient tensor
(output) Fe             # elastic deformation gradient tensor
(output) Fp             # plastic deformation gradient tensor
(output) P              # first Piola-Kichhoff stress tensor
(output) Lp             # plastic velocity gradient tensor


lattice_structure       bcc
Nslip                   12   # per family

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9

gdot0_slip              0.001
n_slip                  20
tau0_slip                 31e6 # per family
tausat_slip               63e6 # per family
a_slip                  2.25
h0_slipslip             75e6
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
atol_resistance         1

<crystallite>
[dummy]
