### $Id$ ###
[8Grains]
type			RGC
Ngrains			8
clustersize		2	2	2        # product of these numbers must be equal to Ngrains(!)
clusterorientation	0.0	0.0	0.0      # orientation of cluster in terms of zxz Euler-angles in degree (random if not present)
# clusterorientation	0.0	26.57	0.0      # [012]
# clusterorientation	0.0	45.00	0.0      # [011]
# clusterorientation	0.0	26.57	24.10    # [112]
# clusterorientation	0.0	45.00	19.47    # [122]
# clusterorientation	0.0	45.00	35.26    # [111]
grainsize		4.0e-6	4.0e-6	2.0e-6   # in [m]
overproportionality	2.0e+0                   # typical range between 0.001 to 1000
scalingparameter	1.0e+1                   # typical range between 0.001 to 1000
(output)		constitutivework
(output)		magnitudemismatch
(output)		penaltyenergy
(output)		volumediscrepancy
(output)		averagerelaxrate
(output)		maximumrelaxrate