### $Id$ ###
### numerical parameters ###

# The material.config file needs to specify five parts:
# homogenization, microstructure, crystallite, phase, and texture.
# You can either put the full text in here or include suited separate files

<homogenization>
{./Homogenization_Isostrain_SX.config}

<microstructure>
{./Microstructure_ElementHomogeneous.config}

<crystallite>
{./Crystallite_aLittleSomething.config}

<phase>
{./Phase_Phenopowerlaw_Aluminum.config}

<texture>
{./Texture_Rolling.config}