### $Id$ ###
[Aluminum_Isotropic]
# Kuo, J. C., Mikrostrukturmechanik von Bikristallen mit Kippkorngrenzen. Shaker-Verlag 2004. http://edoc.mpg.de/204079

elasticity	hooke
plasticity	isotropic

(output) flowstress
(output) strainrate

lattice_structure isotropic

c11		110.9e9
c12		58.34e9
taylorfactor	3
tau0		31e6
gdot0		0.001
n		20
h0		75e6
tausat		63e6
w0		2.25
atol_resistance	1
