### $Id$ ### 
                                                                                                    
[IsotropicVolumePreservation]                                                                                          
elasticity          hooke                                                                           
plasticity          none
                                                                                                    
### Material parameters ###                                                                         
lattice_structure     isotropic                                                                           
C11                   100.0e9
C12                    66.6666667e9  
