### $Id$ ###
# Tasan et.al. 2015 Acta Materalia
# Tasan et.al. 2015 International Journal of Plasticity
# Diehl et.al. 2015 Meccanica
[BCC_Ferrite]
elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       bcc
Nslip                   12  12                   # per family
Ntwin                    0                       # per family
c11                     233.3e9
c12                     135.5e9
c44                     118.0e9
gdot0_slip              0.001
n_slip                  20
tau0_slip               95.e6 97.e6 0 0             # per family, optimization long simplex 109
tausat_slip             222.e6 412.7e6 0 0           # per family, optimization long simplex 109
gdot0_twin              0.001
n_twin                  20
tau0_twin               31.0e6                   # per family
s_pr                    0                        # push-up factor for slip saturation due to twinning
twin_b                  0
twin_c                  0
twin_d                  0
twin_e                  0
h0_slipslip             1000.0e6 # opti
h0_twinslip             0
h0_twintwin             0
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
interaction_sliptwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twinslip    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twintwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
w0_slip                 2.0 # opti
atol_resistance         1
(output) totalshear
