### $Id$ ###
[FiberExample]
axes    x y -z                     # model coordinate x-, y-, z-axes correspond to which axes during texture measurement? this was a left handed coordinate system! 
#   fiber axis in spherical coordinates: alpha crystal system, beta sample system
(fiber)     alpha1 123 alpha2 123 beta1 12 beta2 45 scatter 15 fraction 0.333  