#####################
# $Id: material.config 662 2010-10-01 12:18:49Z MPIE\c.kords $
#####################

#-------------------#
<homogenization>
#-------------------#

[SX]
type	isostrain
Ngrains	1

#-------------------#
<microstructure>
#-------------------#

[Grain001]
crystallite	1
(constituent)  phase 1   texture   1   fraction 1.0
[Grain002]
crystallite	1
(constituent)  phase 1   texture   2   fraction 1.0
[Grain003]
crystallite	1
(constituent)  phase 1   texture   3   fraction 1.0
[Grain004]
crystallite	1
(constituent)  phase 1   texture   4   fraction 1.0
[Grain005]
crystallite	1
(constituent)  phase 1   texture   5   fraction 1.0
[Grain006]
crystallite	1
(constituent)  phase 1   texture   6   fraction 1.0
[Grain007]
crystallite	1
(constituent)  phase 1   texture   7   fraction 1.0
[Grain008]
crystallite	1
(constituent)  phase 1   texture   8   fraction 1.0
[Grain009]
crystallite	1
(constituent)  phase 1   texture   9   fraction 1.0
[Grain010]
crystallite	1
(constituent)  phase 1   texture  10   fraction 1.0
[Grain011]
crystallite	1
(constituent)  phase 1   texture  11   fraction 1.0
[Grain012]
crystallite	1
(constituent)  phase 1   texture  12   fraction 1.0
[Grain013]
crystallite	1
(constituent)  phase 1   texture  13   fraction 1.0
[Grain014]
crystallite	1
(constituent)  phase 1   texture  14   fraction 1.0
[Grain015]
crystallite	1
(constituent)  phase 1   texture  15   fraction 1.0
[Grain016]
crystallite	1
(constituent)  phase 1   texture  16   fraction 1.0
[Grain017]
crystallite	1
(constituent)  phase 1   texture  17   fraction 1.0
[Grain018]
crystallite	1
(constituent)  phase 1   texture  18   fraction 1.0
[Grain019]
crystallite	1
(constituent)  phase 1   texture  19   fraction 1.0
[Grain020]
crystallite	1
(constituent)  phase 1   texture  20   fraction 1.0
[Grain021]
crystallite	1
(constituent)  phase 1   texture  21   fraction 1.0
[Grain022]
crystallite	1
(constituent)  phase 1   texture  22   fraction 1.0
[Grain023]
crystallite	1
(constituent)  phase 1   texture  23   fraction 1.0
[Grain024]
crystallite	1
(constituent)  phase 1   texture  24   fraction 1.0
[Grain025]
crystallite	1
(constituent)  phase 1   texture  25   fraction 1.0
[Grain026]
crystallite	1
(constituent)  phase 1   texture  26   fraction 1.0
[Grain027]
crystallite	1
(constituent)  phase 1   texture  27   fraction 1.0
[Grain028]
crystallite	1
(constituent)  phase 1   texture  28   fraction 1.0
[Grain029]
crystallite	1
(constituent)  phase 1   texture  29   fraction 1.0
[Grain030]
crystallite	1
(constituent)  phase 1   texture  30   fraction 1.0
[Grain031]
crystallite	1
(constituent)  phase 1   texture  31   fraction 1.0
[Grain032]
crystallite	1
(constituent)  phase 1   texture  32   fraction 1.0
[Grain033]
crystallite	1
(constituent)  phase 1   texture  33   fraction 1.0
[Grain034]
crystallite	1
(constituent)  phase 1   texture  34   fraction 1.0
[Grain035]
crystallite	1
(constituent)  phase 1   texture  35   fraction 1.0
[Grain036]
crystallite	1
(constituent)  phase 1   texture  36   fraction 1.0
[Grain037]
crystallite	1
(constituent)  phase 1   texture  37   fraction 1.0
[Grain038]
crystallite	1
(constituent)  phase 1   texture  38   fraction 1.0
[Grain039]
crystallite	1
(constituent)  phase 1   texture  39   fraction 1.0
[Grain040]
crystallite	1
(constituent)  phase 1   texture  40   fraction 1.0
[Grain041]
crystallite	1
(constituent)  phase 1   texture  41   fraction 1.0
[Grain042]
crystallite	1
(constituent)  phase 1   texture  42   fraction 1.0
[Grain043]
crystallite	1
(constituent)  phase 1   texture  43   fraction 1.0
[Grain044]
crystallite	1
(constituent)  phase 1   texture  44   fraction 1.0
[Grain045]
crystallite	1
(constituent)  phase 1   texture  45   fraction 1.0
[Grain046]
crystallite	1
(constituent)  phase 1   texture  46   fraction 1.0
[Grain047]
crystallite	1
(constituent)  phase 1   texture  47   fraction 1.0
[Grain048]
crystallite	1
(constituent)  phase 1   texture  48   fraction 1.0
[Grain049]
crystallite	1
(constituent)  phase 1   texture  49   fraction 1.0
[Grain050]
crystallite	1
(constituent)  phase 1   texture  50   fraction 1.0
[Grain051]
crystallite	1
(constituent)  phase 1   texture  51   fraction 1.0
[Grain052]
crystallite	1
(constituent)  phase 1   texture  52   fraction 1.0
[Grain053]
crystallite	1
(constituent)  phase 1   texture  53   fraction 1.0
[Grain054]
crystallite	1
(constituent)  phase 1   texture  54   fraction 1.0
[Grain055]
crystallite	1
(constituent)  phase 1   texture  55   fraction 1.0
[Grain056]
crystallite	1
(constituent)  phase 1   texture  56   fraction 1.0
[Grain057]
crystallite	1
(constituent)  phase 1   texture  57   fraction 1.0
[Grain058]
crystallite	1
(constituent)  phase 1   texture  58   fraction 1.0
[Grain059]
crystallite	1
(constituent)  phase 1   texture  59   fraction 1.0
[Grain060]
crystallite	1
(constituent)  phase 1   texture  60   fraction 1.0
[Grain061]
crystallite	1
(constituent)  phase 1   texture  61   fraction 1.0
[Grain062]
crystallite	1
(constituent)  phase 1   texture  62   fraction 1.0
[Grain063]
crystallite	1
(constituent)  phase 1   texture  63   fraction 1.0
[Grain064]
crystallite	1
(constituent)  phase 1   texture  64   fraction 1.0
[Grain065]
crystallite	1
(constituent)  phase 1   texture  65   fraction 1.0
[Grain066]
crystallite	1
(constituent)  phase 1   texture  66   fraction 1.0
[Grain067]
crystallite	1
(constituent)  phase 1   texture  67   fraction 1.0
[Grain068]
crystallite	1
(constituent)  phase 1   texture  68   fraction 1.0
[Grain069]
crystallite	1
(constituent)  phase 1   texture  69   fraction 1.0
[Grain070]
crystallite	1
(constituent)  phase 1   texture  70   fraction 1.0
[Grain071]
crystallite	1
(constituent)  phase 1   texture  71   fraction 1.0
[Grain072]
crystallite	1
(constituent)  phase 1   texture  72   fraction 1.0
[Grain073]
crystallite	1
(constituent)  phase 1   texture  73   fraction 1.0
[Grain074]
crystallite	1
(constituent)  phase 1   texture  74   fraction 1.0
[Grain075]
crystallite	1
(constituent)  phase 1   texture  75   fraction 1.0
[Grain076]
crystallite	1
(constituent)  phase 1   texture  76   fraction 1.0
[Grain077]
crystallite	1
(constituent)  phase 1   texture  77   fraction 1.0
[Grain078]
crystallite	1
(constituent)  phase 1   texture  78   fraction 1.0
[Grain079]
crystallite	1
(constituent)  phase 1   texture  79   fraction 1.0
[Grain080]
crystallite	1
(constituent)  phase 1   texture  80   fraction 1.0
[Grain081]
crystallite	1
(constituent)  phase 1   texture  81   fraction 1.0
[Grain082]
crystallite	1
(constituent)  phase 1   texture  82   fraction 1.0
[Grain083]
crystallite	1
(constituent)  phase 1   texture  83   fraction 1.0
[Grain084]
crystallite	1
(constituent)  phase 1   texture  84   fraction 1.0
[Grain085]
crystallite	1
(constituent)  phase 1   texture  85   fraction 1.0
[Grain086]
crystallite	1
(constituent)  phase 1   texture  86   fraction 1.0
[Grain087]
crystallite	1
(constituent)  phase 1   texture  87   fraction 1.0
[Grain088]
crystallite	1
(constituent)  phase 1   texture  88   fraction 1.0
[Grain089]
crystallite	1
(constituent)  phase 1   texture  89   fraction 1.0
[Grain090]
crystallite	1
(constituent)  phase 1   texture  90   fraction 1.0
[Grain091]
crystallite	1
(constituent)  phase 1   texture  91   fraction 1.0
[Grain092]
crystallite	1
(constituent)  phase 1   texture  92   fraction 1.0
[Grain093]
crystallite	1
(constituent)  phase 1   texture  93   fraction 1.0
[Grain094]
crystallite	1
(constituent)  phase 1   texture  94   fraction 1.0
[Grain095]
crystallite	1
(constituent)  phase 1   texture  95   fraction 1.0
[Grain096]
crystallite	1
(constituent)  phase 1   texture  96   fraction 1.0
[Grain097]
crystallite	1
(constituent)  phase 1   texture  97   fraction 1.0
[Grain098]
crystallite	1
(constituent)  phase 1   texture  98   fraction 1.0
[Grain099]
crystallite	1
(constituent)  phase 1   texture  99   fraction 1.0
[Grain100]
crystallite	1
(constituent)  phase 1   texture 100   fraction 1.0
[cubeGrain]
crystallite	1
(constituent)  phase 1   texture 101   fraction 1.0

#-------------------#
<texture>
#-------------------#

[Grain001]
(gauss)  phi1 359.121452   Phi  82.319471   Phi2 347.729535   scatter 0   fraction 1
[Grain002]
(gauss)  phi1 269.253967   Phi 105.379919   Phi2 173.029284   scatter 0   fraction 1
[Grain003]
(gauss)  phi1  26.551535   Phi 171.606752   Phi2 124.949264   scatter 0   fraction 1
[Grain004]
(gauss)  phi1 123.207774   Phi 124.339577   Phi2  47.937748   scatter 0   fraction 1
[Grain005]
(gauss)  phi1 324.188825   Phi 103.089216   Phi2 160.373624   scatter 0   fraction 1
[Grain006]
(gauss)  phi1 238.295585   Phi 165.416882   Phi2 234.307741   scatter 0   fraction 1
[Grain007]
(gauss)  phi1 232.707177   Phi 110.733726   Phi2 308.049265   scatter 0   fraction 1
[Grain008]
(gauss)  phi1 144.463291   Phi 125.891441   Phi2 348.674207   scatter 0   fraction 1
[Grain009]
(gauss)  phi1 215.423832   Phi  69.759502   Phi2 164.477632   scatter 0   fraction 1
[Grain010]
(gauss)  phi1 118.805444   Phi 143.057031   Phi2 271.963190   scatter 0   fraction 1
[Grain011]
(gauss)  phi1 218.049576   Phi  64.017550   Phi2 323.040457   scatter 0   fraction 1
[Grain012]
(gauss)  phi1 236.962483   Phi 134.312093   Phi2 220.433366   scatter 0   fraction 1
[Grain013]
(gauss)  phi1 352.317686   Phi   3.356527   Phi2  92.447275   scatter 0   fraction 1
[Grain014]
(gauss)  phi1 198.311545   Phi  71.452240   Phi2 199.441849   scatter 0   fraction 1
[Grain015]
(gauss)  phi1 351.993635   Phi  36.500987   Phi2 236.852886   scatter 0   fraction 1
[Grain016]
(gauss)  phi1 262.389063   Phi 101.249950   Phi2 334.305959   scatter 0   fraction 1
[Grain017]
(gauss)  phi1  53.220668   Phi  69.570254   Phi2 277.061151   scatter 0   fraction 1
[Grain018]
(gauss)  phi1 122.156119   Phi 140.207051   Phi2 221.172906   scatter 0   fraction 1
[Grain019]
(gauss)  phi1 295.422170   Phi  26.595511   Phi2 263.206315   scatter 0   fraction 1
[Grain020]
(gauss)  phi1 179.137406   Phi 104.500977   Phi2 151.742108   scatter 0   fraction 1
[Grain021]
(gauss)  phi1 199.045094   Phi   5.228899   Phi2 356.542109   scatter 0   fraction 1
[Grain022]
(gauss)  phi1 268.671476   Phi  24.835403   Phi2  33.578889   scatter 0   fraction 1
[Grain023]
(gauss)  phi1 264.248527   Phi  59.766630   Phi2 340.865462   scatter 0   fraction 1
[Grain024]
(gauss)  phi1 254.223491   Phi  51.125301   Phi2 201.094027   scatter 0   fraction 1
[Grain025]
(gauss)  phi1  22.214008   Phi  92.248774   Phi2 215.168318   scatter 0   fraction 1
[Grain026]
(gauss)  phi1  49.511491   Phi  79.933539   Phi2 187.188575   scatter 0   fraction 1
[Grain027]
(gauss)  phi1 318.916204   Phi 113.102650   Phi2 241.076629   scatter 0   fraction 1
[Grain028]
(gauss)  phi1 239.378433   Phi  89.578655   Phi2  94.167043   scatter 0   fraction 1
[Grain029]
(gauss)  phi1  27.561421   Phi 142.892093   Phi2 197.735666   scatter 0   fraction 1
[Grain030]
(gauss)  phi1 135.210581   Phi 165.859834   Phi2 285.449561   scatter 0   fraction 1
[Grain031]
(gauss)  phi1 223.515916   Phi  56.824378   Phi2 343.289074   scatter 0   fraction 1
[Grain032]
(gauss)  phi1  41.127974   Phi 111.289145   Phi2 214.855145   scatter 0   fraction 1
[Grain033]
(gauss)  phi1  17.335045   Phi 140.496745   Phi2  77.747371   scatter 0   fraction 1
[Grain034]
(gauss)  phi1  36.206421   Phi 148.574232   Phi2  88.870226   scatter 0   fraction 1
[Grain035]
(gauss)  phi1 159.618336   Phi 125.680504   Phi2 204.119403   scatter 0   fraction 1
[Grain036]
(gauss)  phi1   8.752464   Phi  99.173166   Phi2 143.227089   scatter 0   fraction 1
[Grain037]
(gauss)  phi1 351.570753   Phi  67.343218   Phi2   1.779612   scatter 0   fraction 1
[Grain038]
(gauss)  phi1  46.771572   Phi 155.018674   Phi2 302.319987   scatter 0   fraction 1
[Grain039]
(gauss)  phi1 244.255976   Phi  80.566566   Phi2 264.069331   scatter 0   fraction 1
[Grain040]
(gauss)  phi1  41.775388   Phi  47.109507   Phi2 300.598550   scatter 0   fraction 1
[Grain041]
(gauss)  phi1 268.753103   Phi  46.654050   Phi2 190.382041   scatter 0   fraction 1
[Grain042]
(gauss)  phi1 239.574480   Phi  62.517793   Phi2 147.817535   scatter 0   fraction 1
[Grain043]
(gauss)  phi1 128.059775   Phi  61.916743   Phi2 169.674359   scatter 0   fraction 1
[Grain044]
(gauss)  phi1 166.545156   Phi  58.709099   Phi2 252.885391   scatter 0   fraction 1
[Grain045]
(gauss)  phi1  92.867691   Phi  28.906456   Phi2 164.197290   scatter 0   fraction 1
[Grain046]
(gauss)  phi1 291.056147   Phi  35.145174   Phi2 250.155599   scatter 0   fraction 1
[Grain047]
(gauss)  phi1  79.015862   Phi  44.772479   Phi2 267.982808   scatter 0   fraction 1
[Grain048]
(gauss)  phi1 108.400702   Phi  69.883075   Phi2 222.737053   scatter 0   fraction 1
[Grain049]
(gauss)  phi1 348.326500   Phi  11.339714   Phi2 121.682346   scatter 0   fraction 1
[Grain050]
(gauss)  phi1 331.476209   Phi 108.775043   Phi2 335.139671   scatter 0   fraction 1
[Grain051]
(gauss)  phi1 196.750278   Phi  93.955106   Phi2  63.689075   scatter 0   fraction 1
[Grain052]
(gauss)  phi1 136.077875   Phi 130.508342   Phi2 128.468976   scatter 0   fraction 1
[Grain053]
(gauss)  phi1 239.643513   Phi  76.284643   Phi2 168.821008   scatter 0   fraction 1
[Grain054]
(gauss)  phi1 113.850670   Phi 117.531757   Phi2  71.971648   scatter 0   fraction 1
[Grain055]
(gauss)  phi1 149.554071   Phi  16.543098   Phi2 195.556172   scatter 0   fraction 1
[Grain056]
(gauss)  phi1  46.626579   Phi  52.447846   Phi2 304.495569   scatter 0   fraction 1
[Grain057]
(gauss)  phi1 255.251821   Phi  86.678048   Phi2 238.982712   scatter 0   fraction 1
[Grain058]
(gauss)  phi1 324.266133   Phi  28.075458   Phi2  41.191295   scatter 0   fraction 1
[Grain059]
(gauss)  phi1 312.000332   Phi  74.648725   Phi2  87.403581   scatter 0   fraction 1
[Grain060]
(gauss)  phi1  57.742481   Phi 163.241519   Phi2  68.491438   scatter 0   fraction 1
[Grain061]
(gauss)  phi1 112.442447   Phi  51.735320   Phi2 206.538656   scatter 0   fraction 1
[Grain062]
(gauss)  phi1 297.453842   Phi 115.283041   Phi2  57.785319   scatter 0   fraction 1
[Grain063]
(gauss)  phi1 119.132681   Phi 117.923565   Phi2 196.121206   scatter 0   fraction 1
[Grain064]
(gauss)  phi1 199.267314   Phi 163.091476   Phi2  53.549301   scatter 0   fraction 1
[Grain065]
(gauss)  phi1  37.765215   Phi  76.795488   Phi2 146.264753   scatter 0   fraction 1
[Grain066]
(gauss)  phi1 324.550183   Phi  27.665150   Phi2  56.383148   scatter 0   fraction 1
[Grain067]
(gauss)  phi1 337.305377   Phi 136.807151   Phi2 133.661586   scatter 0   fraction 1
[Grain068]
(gauss)  phi1 115.744041   Phi  64.536978   Phi2 262.694800   scatter 0   fraction 1
[Grain069]
(gauss)  phi1 136.293403   Phi  48.862462   Phi2 343.319175   scatter 0   fraction 1
[Grain070]
(gauss)  phi1 111.030931   Phi  80.823213   Phi2  84.041594   scatter 0   fraction 1
[Grain071]
(gauss)  phi1 303.985249   Phi 118.929631   Phi2 302.307709   scatter 0   fraction 1
[Grain072]
(gauss)  phi1 193.556259   Phi  75.928015   Phi2 176.696899   scatter 0   fraction 1
[Grain073]
(gauss)  phi1 102.543259   Phi 121.929923   Phi2 234.496773   scatter 0   fraction 1
[Grain074]
(gauss)  phi1 218.581323   Phi 101.753894   Phi2 305.566089   scatter 0   fraction 1
[Grain075]
(gauss)  phi1 229.542114   Phi 118.839215   Phi2 129.179156   scatter 0   fraction 1
[Grain076]
(gauss)  phi1 202.258840   Phi 139.205956   Phi2 352.248979   scatter 0   fraction 1
[Grain077]
(gauss)  phi1 137.954289   Phi  63.806918   Phi2 128.975049   scatter 0   fraction 1
[Grain078]
(gauss)  phi1 327.557366   Phi  84.987420   Phi2 345.483143   scatter 0   fraction 1
[Grain079]
(gauss)  phi1 334.610243   Phi  74.535474   Phi2 106.419231   scatter 0   fraction 1
[Grain080]
(gauss)  phi1  62.906243   Phi  46.752029   Phi2 222.692276   scatter 0   fraction 1
[Grain081]
(gauss)  phi1 254.121439   Phi 121.005485   Phi2 287.265977   scatter 0   fraction 1
[Grain082]
(gauss)  phi1 140.765045   Phi 141.268031   Phi2 271.327656   scatter 0   fraction 1
[Grain083]
(gauss)  phi1  10.726984   Phi  66.339177   Phi2 189.073212   scatter 0   fraction 1
[Grain084]
(gauss)  phi1 270.921536   Phi  72.821127   Phi2 313.590515   scatter 0   fraction 1
[Grain085]
(gauss)  phi1 299.059668   Phi  23.884874   Phi2  80.016277   scatter 0   fraction 1
[Grain086]
(gauss)  phi1 208.617406   Phi  11.031834   Phi2 302.388247   scatter 0   fraction 1
[Grain087]
(gauss)  phi1  62.929967   Phi  65.223261   Phi2 108.558265   scatter 0   fraction 1
[Grain088]
(gauss)  phi1   9.014959   Phi  33.542169   Phi2 247.970366   scatter 0   fraction 1
[Grain089]
(gauss)  phi1 272.432808   Phi  30.065174   Phi2  19.803570   scatter 0   fraction 1
[Grain090]
(gauss)  phi1 179.621980   Phi 151.763475   Phi2  61.871794   scatter 0   fraction 1
[Grain091]
(gauss)  phi1 247.810321   Phi 112.752980   Phi2 264.668469   scatter 0   fraction 1
[Grain092]
(gauss)  phi1 270.780630   Phi 102.037858   Phi2  31.602610   scatter 0   fraction 1
[Grain093]
(gauss)  phi1  17.626672   Phi  56.032415   Phi2 245.079600   scatter 0   fraction 1
[Grain094]
(gauss)  phi1 112.165186   Phi  87.390459   Phi2 182.086729   scatter 0   fraction 1
[Grain095]
(gauss)  phi1 157.869381   Phi  79.905131   Phi2 107.037081   scatter 0   fraction 1
[Grain096]
(gauss)  phi1 106.163846   Phi 148.477084   Phi2 350.980466   scatter 0   fraction 1
[Grain097]
(gauss)  phi1 262.138550   Phi  58.923588   Phi2 111.303439   scatter 0   fraction 1
[Grain098]
(gauss)  phi1  88.739397   Phi 119.092789   Phi2 222.502594   scatter 0   fraction 1
[Grain099]
(gauss)  phi1 337.603765   Phi  10.145102   Phi2  80.934916   scatter 0   fraction 1
[Grain100]
(gauss)  phi1 341.022242   Phi  45.927285   Phi2 252.045476   scatter 0   fraction 1

[cube]
(gauss)  phi1 0   Phi  0   phi2 0   scatter 0   fraction 1

#-------------------#
<crystallite>
#-------------------#

[all]
(output) phase
(output) texture
(output) volume
(output) orientation
(output) eulerangles
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) s              # second Piola-Kichhoff stress tensor; synonyms: "tstar", "secondpiola", "2ndpiola"

#-------------------#
<phase>
#-------------------#

[Aluminum_phenopowerlaw]
# slip only
constitution            phenopowerlaw

(output)                resistance_slip
(output)                shearrate_slip
(output)                resolvedstress_slip
(output)                totalshear
(output)                resistance_twin
(output)                shearrate_twin
(output)                resolvedstress_twin
(output)                totalvolfrac

lattice_structure       fcc
Nslip                   12  0  0  0              # per family
Ntwin                    0  0  0  0              # per family

c11                     106.75e9
c12                     60.41e9
c44                     28.34e9

gdot0_slip              0.001
n_slip                  20
tau0_slip                 31e6                # per family
tausat_slip               63e6               # per family
w0_slip                 2.25
gdot0_twin              0.001
n_twin                  20
tau0_twin                 31e6               # per family
s_pr                    0                        # push-up factor for slip saturation due to twinning
twin_b                  0
twin_c                  0
twin_d                  0
twin_e                  0
h0_slipslip             75e6
h0_sliptwin             0
h0_twinslip             0
h0_twintwin             0
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
interaction_sliptwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twinslip    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
interaction_twintwin    1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 
relevantResistance      1

[Aluminum_J2isotropic]

constitution            j2

(output)                flowstress
(output)                strainrate

c11                     110.9e9
c12                     58.34e9
taylorfactor            3
tau0                    31e6
gdot0                   0.001
n                       20
h0                      75e6
tausat                  63e6
w0                      2.25
atol_Resistance         100
